
<div data-overlay class="full-height-zh bg-primary-3 jarallax text-white" data-jarallax data-speed="0.2">
    <img src="images/promo_cover.jpg" alt="Background" class="jarallax-img opacity-30">
    <section class="pb-0">
        <div class="container float-vc">
            <div class="row justify-content-center text-center">
                <div class="col-xl-8 col-lg-10 col-md-11">
                    <img src="images/warning-logo.png" class="logo-width">
                        {{!-- <p class="lead" data-aos="fade-up" data-aos-delay="100">您并不受益于产业政策中！</p> --}}
                        <p class="lead-zh" data-aos="fade-up" data-aos-delay="100" style="font-size: 22px;">
                            您在担心您的产业投资吗？您有经历产业空置的情况吗？
                            <br>可怕的冠病疫情无可否认的影响了整个产业市场，包括了您本身的产业。
                            <br>严苛的挑战是真实的，你是否能够突破你掌握不了的新常态？
                            </p>
                        {{!-- <p class="lead-zh" data-aos="fade-up" data-aos-delay="200">二手业主如何突破新常态？</p> --}}
                        {{!-- <p class="lead" data-aos="fade-up" data-aos-delay="300"
                            style="color: chartreuse; font-weight: 700;">
                            CASHOUT Your Property the REAL BID Way!
                            Be it Rent or Sale!
                        </p> --}}
                        <p class="display-3" data-aos="fade-up" data-aos-delay="300" style="color: chartreuse; font-size:36px">
                            在亚洲产拍，您可以真实的兑现您的产业价值
                            <br>
                            <br>您可以快速出租
                            <br>或
                            <br>快速售出您的产业
                        </p>

                        {{!-- <p class="lead-zh" data-aos="fade-up" data-aos-delay="400">
                            <span style="font-weight: 700;">realbid.asia  亚洲产拍 </span>让线上拍卖兑现您的产业
                        </p> --}}
                        <p class="lead-zh" data-aos="fade-up" data-aos-delay="300" style="font-size: 22px;">
                            现在就即刻把握你产业的走向！
                            <br>让亚洲产拍成为您的自救力量！
                        </p>
                    <a href="/friendly-tip-zh" class="fade-page btn btn-secondary"
                        style="color: black; cursor: pointer; font-size: 1.1rem; margin-bottom: 10px;"><span>打开新的力量</span></a>
                </div>
            </div>
        </div>
        {{!-- <div class="divider divider-bottom bg-white" style="background-color: transparent !important;"></div> --}}
    </section>
</div>