<section class="bg-primary fixed-padding-top" style="padding-top: 100px;">
    <div class="container">
        <div class="text-white">
            <div class="row section-title justify-content-center text-center">
                <div class="col-md-9 col-lg-8 col-xl-7">
                    <h3 class="display-4" id="whyUs">为何采用<span style="color: #d5ebe1;">亚洲产拍</span>？<br>这种方案符合您吗？</h3>
                    <div class="lead">我们诚意推荐您最符合新常态的产业销售方案 - realbid.asia 亚洲产拍！</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-lg-4 mb-3 mb-md-4" style="padding-bottom: 10px;">
                <div class="card card-body" style="padding: 10px; box-shadow: 10px 10px 5px 0px rgba(75, 55, 55, 0.75)">
                    <p>
                        <strong style="color: #32cd32;">时间就是金钱!</strong>
                    </p>
                    <p>
                        创造分秒必争的时间观念来达至物有所值的竞标效率
                    </p>

                </div>
            </div>
            <div class="col-sm-6 col-lg-4 mb-3 mb-md-4" style="padding-bottom: 10px;"> 
                <div class="card card-body"
                    style="padding: 10px; box-shadow: 10px 10px 5px 0px rgba(75, 55, 55, 0.75)">
                    <p>
                        <strong style="color: #32cd32;">减少产业持有成本</strong>
                    </p>
                    <p>
                       可别忘了您因持续持而有可能忽视的机会成本
                    </p>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 mb-3 mb-md-4" style="padding-bottom: 10px;">
                <div class="card card-body"
                    style="padding: 10px; box-shadow: 10px 10px 5px 0px rgba(75, 55, 55, 0.75)">
                    <p>
                        <strong style="color: #32cd32;">公开透明与接应地气</strong>
                    </p>
                    <p>切勿光等不切实际的希望！<span style="color: #739c89;">亚洲产拍</span>接通整个市场，而非受个别评论或人为因素所左右</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-lg-4 mb-3 mb-md-4" style="padding-bottom: 10px;">
                <div class="card card-body"
                    style="padding: 10px; box-shadow: 10px 10px 5px 0px rgba(75, 55, 55, 0.75)">
                    <p>
                        <strong style="color: #ff8c00;">新常态的线上趋势
                        </strong>
                    </p>
                    <p>
                        完全符合和运用，<span style="color: #739c89;">亚洲产拍</span>注重线上推广。在传统媒体上，<span style="color: #739c89;">亚洲产拍</span>也会定时推广以增加覆盖范围
                    </p>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 mb-3 mb-md-4" style="padding-bottom: 10px;">
                <div class="card card-body"
                    style="padding: 10px; box-shadow: 10px 10px 5px 0px rgba(75, 55, 55, 0.75)">
                    <p>
                        <strong style="color: #ff8c00;">真实拍卖时间表</strong>
                    </p>
                    <p>
                            与其茫茫然不确定性的等待与焦虑，<span style="color: #739c89;">亚洲产拍</span>给予您真实的拍卖时间表和拍卖后的活动步骤
                        </p>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 mb-3 mb-md-4" style="padding-bottom: 10px;">
                <div class="card card-body"
                    style="padding: 10px; box-shadow: 10px 10px 5px 0px rgba(75, 55, 55, 0.75)">
                    <p>
                        <strong style="color: #ff8c00;">过滤有资格竞标者
                        </strong>
                    </p>
                    <p>
                        <span style="color: #739c89;">亚洲产拍</span>过滤有资格的买家或承租人以进入竞标范围，在限期内竞标目标产业。
                        得标者签约一纸协议，然后履行和完成协议。节省时间 - <span style="color: #739c89;">亚洲产拍</span>，一行到底
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-lg-4 mb-3 mb-md-4" style="padding-bottom: 10px;">
                <div class="card card-body"
                    style="padding: 10px; box-shadow: 10px 10px 5px 0px rgba(75, 55, 55, 0.75)">
                    <p>
                        <strong style="color: #32cd32;">真实市场</strong>
                    </p>
                    <p>
                        <span style="color: #739c89;">亚洲产拍</span>的标价皆为起价，并非卖价。市场将决定您的产业需求,
                        起价的高低也会左右竞标人数的参与和竞标价的多与少。
                        <span style="color: #739c89;">亚洲产拍</span>提供您所需要的真实市场。
                    </p>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 mb-3 mb-md-4" style="padding-bottom: 10px;">
                <div class="card card-body"
                    style="padding: 10px; box-shadow: 10px 10px 5px 0px rgba(75, 55, 55, 0.75)">
                    <p>
                        <strong style="color: #ff8c00;">
                            最重要的是，您绝对负担得起参与<br><span style="color: #739c89;">亚洲产拍</span>!
                        </strong>
                    </p>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 mb-3 mb-md-4" style="padding-bottom: 10px;">

            </div>
        </div>
        {{!-- <div class="row" data-isotope-collection>
            <div class="col-sm-6 col-lg-4 mb-3 mb-md-4" data-isotope-item>
                <div class="card card-body"
                    style="padding-top: 10px; padding-left: 10px; padding-right: 10px; padding-bottom: 0px;">
                    <p>
                        <strong style="color: #ff8c00;">
                            最重要的是，您绝对负担得起参与<br><span style="color: #739c89;">亚洲产拍</span>!
                        </strong>
                    </p>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 mb-3 mb-md-4" data-isotope-item>
                <div class="card card-body"
                    style="padding-top: 10px; padding-left: 10px; padding-right: 10px; padding-bottom: 0px;">
                    <p>
                        <strong style="color: #32cd32;">真实市场</strong>
                    </p>
                    <p>
                        <span style="color: #739c89;">亚洲产拍</span>的标价皆为起价，并非卖价。市场将决定您的产业需求,
                        起价的高低也会左右竞标人数的参与和竞标价的多与少。
                        <span style="color: #739c89;">亚洲产拍</span>提供您所需要的真实市场。
                    </p>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 mb-3 mb-md-4" data-isotope-item>
                <div class="card card-body"
                    style="padding-top: 10px; padding-left: 10px; padding-right: 10px; padding-bottom: 0px;">
                    <p>
                        <strong style="color: #ff8c00;">过滤有资格竞标者
                        </strong>
                    </p>
                    <p>
                        <span style="color: #739c89;">亚洲产拍</span>过滤有资格的买家或承租人以进入竞标范围，在限期内竞标目标产业。
                        得标者签约一纸协议，然后履行和完成协议。节省时间 - <span style="color: #739c89;">亚洲产拍</span>，一行到底
                    </p>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 mb-3 mb-md-4" data-isotope-item>
                <div class="card card-body"
                    style="padding-top: 10px; padding-left: 10px; padding-right: 10px; padding-bottom: 0px;">
                    <p>
                        <strong style="color: #ff8c00;">真实拍卖时间表</strong>
                    </p>
                    <p>
                            与其茫茫然不确定性的等待与焦虑，<span style="color: #739c89;">亚洲产拍</span>给予您真实的拍卖时间表和拍卖后的活动步骤
                        </p>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 mb-3 mb-md-4" data-isotope-item>
                <div class="card card-body"
                    style="padding-top: 10px; padding-left: 10px; padding-right: 10px; padding-bottom: 0px;">
                    <p>
                        <strong style="color: #ff8c00;">新常态的线上趋势
                        </strong>
                    </p>
                    <p>
                        完全符合和运用，<span style="color: #739c89;">亚洲产拍</span>注重线上推广。在传统媒体上，<span style="color: #739c89;">亚洲产拍</span>也会定时推广以增加覆盖范围
                    </p>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 mb-3 mb-md-4" data-isotope-item>
                <div class="card card-body"
                    style="padding-top: 10px; padding-left: 10px; padding-right: 10px; padding-bottom: 0px;">
                    <p>
                        <strong style="color: #32cd32;">公开透明与接应地气</strong>
                    </p>
                    <p>切勿光等不切实际的希望！<span style="color: #739c89;">亚洲产拍</span>接通整个市场，而非受个别评论或人为因素所左右</p>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 mb-3 mb-md-4" data-isotope-item>
                <div class="card card-body"
                    style="padding-top: 10px; padding-left: 10px; padding-right: 10px; padding-bottom: 0px;">
                    <p>
                        <strong style="color: #32cd32;">减少产业持有成本</strong>
                    </p>
                    <p>
                       可别忘了您因持续持而有可能忽视的机会成本
                    </p>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 mb-3 mb-md-4" data-isotope-item>
                <div class="card card-body"
                    style="padding-top: 10px; padding-left: 10px; padding-right: 10px; padding-bottom: 0px;">
                    <p>
                        <strong style="color: #32cd32;">时间就是金钱!</strong>
                    </p>
                    <p>
                        创造分秒必争的时间观念来达至物有所值的竞标效率
                    </p>
                </div>
            </div>
        </div> --}}
        <div class="row section-title justify-content-center text-center text-white" style="margin-bottom: 10px;">
            <div class="col-md-9 col-lg-8 col-xl-7">
                <div class="lead"><span style="color: #d5ebe1;">亚洲产拍</span>让您掌握产业命运在自己手中!</div>
            </div>
        </div>
        <div class="row section-title justify-content-center text-center text-white" style="margin-bottom: 10px;">
            <div class="col-md-9 col-lg-8 col-xl-7">
                <div class="lead">您准备好兑现您的产业了吗！
                    <a data-target="#user_form" data-toggle="modal" class="btn btn-warning" style="color: black;">是的，请继续</a>
                </div>
            </div>
        </div>
        <div class="row section-title justify-content-center text-center">
            <div class="col-md-9 col-lg-8 col-xl-7">
                <button class="btn btn-secondary about-us-zh" style="color: black;">关于 realbid.asia 亚洲产拍</button>
            </div>
        </div>
    </div>
</section>