<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Bootstrap HTML template and UI kit by Medium Rare">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <!-- Begin loading animation -->
    <link href="assets/css/loaders/loader-pulse.css" rel="stylesheet" type="text/css" media="all" />
    <!-- End loading animation -->
    <link href="assets/css/theme.css" rel="stylesheet" type="text/css" media="all" />
    <link href="https://fonts.googleapis.com/css?family=Nunito:400,400i,600,700&display=swap" rel="stylesheet">
    <!--Firebase-->
    <script src="https://www.gstatic.com/firebasejs/7.16.0/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.16.0/firebase-firestore.js"></script>
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/jquery.validate.min.js"></script>

</head>

<body>
    <div class="loader">
        <div class="loading-animation"></div>
    </div>

    {{> newHeader}}

    {{{body}}}

    {{!-- {{> footer}} --}}
    <a href="#top" class="btn btn-primary rounded-circle btn-back-to-top" data-smooth-scroll data-aos="fade-up"
        data-aos-offset="2000" data-aos-mirror="true" data-aos-once="false">
        <img src="assets/img/icons/interface/icon-arrow-up.svg" alt="Icon" class="icon bg-white" data-inject-svg>
    </a>
    {{!-- modal en --}}
    <div class="modal fade" id="user_form" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header border-0 pb-0">
                    {{!-- <div class="w-100 pt-4">
                        <div class="d-inline-block mb-4 p-3 p-md-4 rounded-circle bg-primary-alt">
                            <img src="" alt="Confirmation Icon" class="icon bg-primary"
                                data-inject-svg="data-inject-svg">
                        </div>
                    </div> --}}
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">
                            <img src="assets/img/icons/interface/icon-x.svg" alt="Icon">
                        </span>
                    </button>
                </div>
                <div class="modal-body px-md-4 px-lg-5 pb-4 pb-lg-5">
                    <form id="userInfoForm" onsubmit="return false;">
                    <div class="form-group eng">
                        <label><b>realbid.asia</b> strictly prioritizes your personal privacy. Your personal
                            information will not be used for any other thing except for
                            realbid.asia.</label>
                    </div>
                    <div class="form-group zh">
                        <label>Realbid.asia 亚洲产拍高度重视您的私隐和确保您的个人产业资料不被滥用。</label>
                    </div>
                    <div class="form-group eng">
                        <labe>Kindly fill in your personal particular as follow:</label>
                    </div>
                    <div class="form-group zh">
                        <label>请填上您的个人资料如下：</label>
                    </div>
                    <div class="form-group">
                        <label for="demo-name" class="eng">Full Name (as per IC):</label>
                        <label for="demo-name" class="zh">业主姓名（根据身份证）：</label>
                        <input id="inputName" name="contact-name" type="text" class="form-control"
                            placeholder="Type here" required>
                        <div class="invalid-feedback">
                            <span class="eng">Please type your name.</span>
                            <span class="zh">请填上业主姓名。</span>
                        </div>
                        {{!-- <div class="invalid-feedback zh">
                            请填上业主姓名。
                        </div> --}}
                    </div>
                    <div class="form-group">

                        <label class="eng" for="demo-mobile">Mobile Contact Number:</label>
                        <label class="zh" for="demo-mobile">手提电话号码：</label>
                        <select class="custom-select" name="countryCode" id="phoneCountryCode">
                            <option data-countryCode="MY" value="+60" Selected>Malaysia (+60)</option>
                            <option data-countryCode="SG" value="+65">Singapore (+65)</option>
                            <option data-countryCode="CN" value="+86">China (+86)</option>
                            <optgroup label="Other countries">
                                <option data-countryCode="DZ" value="+213">Algeria (+213)</option>
                                <option data-countryCode="AD" value="+376">Andorra (+376)</option>
                                <option data-countryCode="AO" value="+244">Angola (+244)</option>
                                <option data-countryCode="AI" value="+1264">Anguilla (+1264)</option>
                                <option data-countryCode="AG" value="+1268">Antigua &amp; Barbuda (+1268)</option>
                                <option data-countryCode="AR" value="+54">Argentina (+54)</option>
                                <option data-countryCode="AM" value="+374">Armenia (+374)</option>
                                <option data-countryCode="AW" value="+297">Aruba (+297)</option>
                                <option data-countryCode="AU" value="+61">Australia (+61)</option>
                                <option data-countryCode="AT" value="43">Austria (+43)</option>
                                <option data-countryCode="AZ" value="994">Azerbaijan (+994)</option>
                                <option data-countryCode="BS" value="1242">Bahamas (+1242)</option>
                                <option data-countryCode="BH" value="973">Bahrain (+973)</option>
                                <option data-countryCode="BD" value="880">Bangladesh (+880)</option>
                                <option data-countryCode="BB" value="1246">Barbados (+1246)</option>
                                <option data-countryCode="BY" value="375">Belarus (+375)</option>
                                <option data-countryCode="BE" value="32">Belgium (+32)</option>
                                <option data-countryCode="BZ" value="501">Belize (+501)</option>
                                <option data-countryCode="BJ" value="229">Benin (+229)</option>
                                <option data-countryCode="BM" value="1441">Bermuda (+1441)</option>
                                <option data-countryCode="BT" value="975">Bhutan (+975)</option>
                                <option data-countryCode="BO" value="591">Bolivia (+591)</option>
                                <option data-countryCode="BA" value="387">Bosnia Herzegovina (+387)</option>
                                <option data-countryCode="BW" value="267">Botswana (+267)</option>
                                <option data-countryCode="BR" value="55">Brazil (+55)</option>
                                <option data-countryCode="BN" value="673">Brunei (+673)</option>
                                <option data-countryCode="BG" value="359">Bulgaria (+359)</option>
                                <option data-countryCode="BF" value="226">Burkina Faso (+226)</option>
                                <option data-countryCode="BI" value="257">Burundi (+257)</option>
                                <option data-countryCode="KH" value="855">Cambodia (+855)</option>
                                <option data-countryCode="CM" value="237">Cameroon (+237)</option>
                                <option data-countryCode="CA" value="1">Canada (+1)</option>
                                <option data-countryCode="CV" value="238">Cape Verde Islands (+238)</option>
                                <option data-countryCode="KY" value="1345">Cayman Islands (+1345)</option>
                                <option data-countryCode="CF" value="236">Central African Republic (+236)</option>
                                <option data-countryCode="CL" value="56">Chile (+56)</option>
                                <option data-countryCode="CN" value="86">China (+86)</option>
                                <option data-countryCode="CO" value="57">Colombia (+57)</option>
                                <option data-countryCode="KM" value="269">Comoros (+269)</option>
                                <option data-countryCode="CG" value="242">Congo (+242)</option>
                                <option data-countryCode="CK" value="682">Cook Islands (+682)</option>
                                <option data-countryCode="CR" value="506">Costa Rica (+506)</option>
                                <option data-countryCode="HR" value="385">Croatia (+385)</option>
                                <option data-countryCode="CU" value="53">Cuba (+53)</option>
                                <option data-countryCode="CY" value="90392">Cyprus North (+90392)</option>
                                <option data-countryCode="CY" value="357">Cyprus South (+357)</option>
                                <option data-countryCode="CZ" value="42">Czech Republic (+42)</option>
                                <option data-countryCode="DK" value="45">Denmark (+45)</option>
                                <option data-countryCode="DJ" value="253">Djibouti (+253)</option>
                                <option data-countryCode="DM" value="1809">Dominica (+1809)</option>
                                <option data-countryCode="DO" value="1809">Dominican Republic (+1809)</option>
                                <option data-countryCode="EC" value="593">Ecuador (+593)</option>
                                <option data-countryCode="EG" value="20">Egypt (+20)</option>
                                <option data-countryCode="SV" value="503">El Salvador (+503)</option>
                                <option data-countryCode="GQ" value="240">Equatorial Guinea (+240)</option>
                                <option data-countryCode="ER" value="291">Eritrea (+291)</option>
                                <option data-countryCode="EE" value="372">Estonia (+372)</option>
                                <option data-countryCode="ET" value="251">Ethiopia (+251)</option>
                                <option data-countryCode="FK" value="500">Falkland Islands (+500)</option>
                                <option data-countryCode="FO" value="298">Faroe Islands (+298)</option>
                                <option data-countryCode="FJ" value="679">Fiji (+679)</option>
                                <option data-countryCode="FI" value="358">Finland (+358)</option>
                                <option data-countryCode="FR" value="33">France (+33)</option>
                                <option data-countryCode="GF" value="594">French Guiana (+594)</option>
                                <option data-countryCode="PF" value="689">French Polynesia (+689)</option>
                                <option data-countryCode="GA" value="241">Gabon (+241)</option>
                                <option data-countryCode="GM" value="220">Gambia (+220)</option>
                                <option data-countryCode="GE" value="7880">Georgia (+7880)</option>
                                <option data-countryCode="DE" value="49">Germany (+49)</option>
                                <option data-countryCode="GH" value="233">Ghana (+233)</option>
                                <option data-countryCode="GI" value="350">Gibraltar (+350)</option>
                                <option data-countryCode="GR" value="30">Greece (+30)</option>
                                <option data-countryCode="GL" value="299">Greenland (+299)</option>
                                <option data-countryCode="GD" value="1473">Grenada (+1473)</option>
                                <option data-countryCode="GP" value="590">Guadeloupe (+590)</option>
                                <option data-countryCode="GU" value="671">Guam (+671)</option>
                                <option data-countryCode="GT" value="502">Guatemala (+502)</option>
                                <option data-countryCode="GN" value="224">Guinea (+224)</option>
                                <option data-countryCode="GW" value="245">Guinea - Bissau (+245)</option>
                                <option data-countryCode="GY" value="592">Guyana (+592)</option>
                                <option data-countryCode="HT" value="509">Haiti (+509)</option>
                                <option data-countryCode="HN" value="504">Honduras (+504)</option>
                                <option data-countryCode="HK" value="852">Hong Kong (+852)</option>
                                <option data-countryCode="HU" value="36">Hungary (+36)</option>
                                <option data-countryCode="IS" value="354">Iceland (+354)</option>
                                <option data-countryCode="IN" value="91">India (+91)</option>
                                <option data-countryCode="ID" value="62">Indonesia (+62)</option>
                                <option data-countryCode="IR" value="98">Iran (+98)</option>
                                <option data-countryCode="IQ" value="964">Iraq (+964)</option>
                                <option data-countryCode="IE" value="353">Ireland (+353)</option>
                                <option data-countryCode="IL" value="972">Israel (+972)</option>
                                <option data-countryCode="IT" value="39">Italy (+39)</option>
                                <option data-countryCode="JM" value="1876">Jamaica (+1876)</option>
                                <option data-countryCode="JP" value="81">Japan (+81)</option>
                                <option data-countryCode="JO" value="962">Jordan (+962)</option>
                                <option data-countryCode="KZ" value="7">Kazakhstan (+7)</option>
                                <option data-countryCode="KE" value="254">Kenya (+254)</option>
                                <option data-countryCode="KI" value="686">Kiribati (+686)</option>
                                <option data-countryCode="KP" value="850">Korea North (+850)</option>
                                <option data-countryCode="KR" value="82">Korea South (+82)</option>
                                <option data-countryCode="KW" value="965">Kuwait (+965)</option>
                                <option data-countryCode="KG" value="996">Kyrgyzstan (+996)</option>
                                <option data-countryCode="LA" value="856">Laos (+856)</option>
                                <option data-countryCode="LV" value="371">Latvia (+371)</option>
                                <option data-countryCode="LB" value="961">Lebanon (+961)</option>
                                <option data-countryCode="LS" value="266">Lesotho (+266)</option>
                                <option data-countryCode="LR" value="231">Liberia (+231)</option>
                                <option data-countryCode="LY" value="218">Libya (+218)</option>
                                <option data-countryCode="LI" value="417">Liechtenstein (+417)</option>
                                <option data-countryCode="LT" value="370">Lithuania (+370)</option>
                                <option data-countryCode="LU" value="352">Luxembourg (+352)</option>
                                <option data-countryCode="MO" value="853">Macao (+853)</option>
                                <option data-countryCode="MK" value="389">Macedonia (+389)</option>
                                <option data-countryCode="MG" value="261">Madagascar (+261)</option>
                                <option data-countryCode="MW" value="265">Malawi (+265)</option>
                                <option data-countryCode="MY" value="60">Malaysia (+60)</option>
                                <option data-countryCode="MV" value="960">Maldives (+960)</option>
                                <option data-countryCode="ML" value="223">Mali (+223)</option>
                                <option data-countryCode="MT" value="356">Malta (+356)</option>
                                <option data-countryCode="MH" value="692">Marshall Islands (+692)</option>
                                <option data-countryCode="MQ" value="596">Martinique (+596)</option>
                                <option data-countryCode="MR" value="222">Mauritania (+222)</option>
                                <option data-countryCode="YT" value="269">Mayotte (+269)</option>
                                <option data-countryCode="MX" value="52">Mexico (+52)</option>
                                <option data-countryCode="FM" value="691">Micronesia (+691)</option>
                                <option data-countryCode="MD" value="373">Moldova (+373)</option>
                                <option data-countryCode="MC" value="377">Monaco (+377)</option>
                                <option data-countryCode="MN" value="976">Mongolia (+976)</option>
                                <option data-countryCode="MS" value="1664">Montserrat (+1664)</option>
                                <option data-countryCode="MA" value="212">Morocco (+212)</option>
                                <option data-countryCode="MZ" value="258">Mozambique (+258)</option>
                                <option data-countryCode="MN" value="95">Myanmar (+95)</option>
                                <option data-countryCode="NA" value="264">Namibia (+264)</option>
                                <option data-countryCode="NR" value="674">Nauru (+674)</option>
                                <option data-countryCode="NP" value="977">Nepal (+977)</option>
                                <option data-countryCode="NL" value="31">Netherlands (+31)</option>
                                <option data-countryCode="NC" value="687">New Caledonia (+687)</option>
                                <option data-countryCode="NZ" value="64">New Zealand (+64)</option>
                                <option data-countryCode="NI" value="505">Nicaragua (+505)</option>
                                <option data-countryCode="NE" value="227">Niger (+227)</option>
                                <option data-countryCode="NG" value="234">Nigeria (+234)</option>
                                <option data-countryCode="NU" value="683">Niue (+683)</option>
                                <option data-countryCode="NF" value="672">Norfolk Islands (+672)</option>
                                <option data-countryCode="NP" value="670">Northern Marianas (+670)</option>
                                <option data-countryCode="NO" value="47">Norway (+47)</option>
                                <option data-countryCode="OM" value="968">Oman (+968)</option>
                                <option data-countryCode="PW" value="680">Palau (+680)</option>
                                <option data-countryCode="PA" value="507">Panama (+507)</option>
                                <option data-countryCode="PG" value="675">Papua New Guinea (+675)</option>
                                <option data-countryCode="PY" value="595">Paraguay (+595)</option>
                                <option data-countryCode="PE" value="51">Peru (+51)</option>
                                <option data-countryCode="PH" value="63">Philippines (+63)</option>
                                <option data-countryCode="PL" value="48">Poland (+48)</option>
                                <option data-countryCode="PT" value="351">Portugal (+351)</option>
                                <option data-countryCode="PR" value="1787">Puerto Rico (+1787)</option>
                                <option data-countryCode="QA" value="974">Qatar (+974)</option>
                                <option data-countryCode="RE" value="262">Reunion (+262)</option>
                                <option data-countryCode="RO" value="40">Romania (+40)</option>
                                <option data-countryCode="RU" value="7">Russia (+7)</option>
                                <option data-countryCode="RW" value="250">Rwanda (+250)</option>
                                <option data-countryCode="SM" value="378">San Marino (+378)</option>
                                <option data-countryCode="ST" value="239">Sao Tome &amp; Principe (+239)</option>
                                <option data-countryCode="SA" value="966">Saudi Arabia (+966)</option>
                                <option data-countryCode="SN" value="221">Senegal (+221)</option>
                                <option data-countryCode="CS" value="381">Serbia (+381)</option>
                                <option data-countryCode="SC" value="248">Seychelles (+248)</option>
                                <option data-countryCode="SL" value="232">Sierra Leone (+232)</option>
                                <option data-countryCode="SG" value="65">Singapore (+65)</option>
                                <option data-countryCode="SK" value="421">Slovak Republic (+421)</option>
                                <option data-countryCode="SI" value="386">Slovenia (+386)</option>
                                <option data-countryCode="SB" value="677">Solomon Islands (+677)</option>
                                <option data-countryCode="SO" value="252">Somalia (+252)</option>
                                <option data-countryCode="ZA" value="27">South Africa (+27)</option>
                                <option data-countryCode="ES" value="34">Spain (+34)</option>
                                <option data-countryCode="LK" value="94">Sri Lanka (+94)</option>
                                <option data-countryCode="SH" value="290">St. Helena (+290)</option>
                                <option data-countryCode="KN" value="1869">St. Kitts (+1869)</option>
                                <option data-countryCode="SC" value="1758">St. Lucia (+1758)</option>
                                <option data-countryCode="SD" value="249">Sudan (+249)</option>
                                <option data-countryCode="SR" value="597">Suriname (+597)</option>
                                <option data-countryCode="SZ" value="268">Swaziland (+268)</option>
                                <option data-countryCode="SE" value="46">Sweden (+46)</option>
                                <option data-countryCode="CH" value="41">Switzerland (+41)</option>
                                <option data-countryCode="SI" value="963">Syria (+963)</option>
                                <option data-countryCode="TW" value="886">Taiwan (+886)</option>
                                <option data-countryCode="TJ" value="7">Tajikstan (+7)</option>
                                <option data-countryCode="TH" value="66">Thailand (+66)</option>
                                <option data-countryCode="TG" value="228">Togo (+228)</option>
                                <option data-countryCode="TO" value="676">Tonga (+676)</option>
                                <option data-countryCode="TT" value="1868">Trinidad &amp; Tobago (+1868)</option>
                                <option data-countryCode="TN" value="216">Tunisia (+216)</option>
                                <option data-countryCode="TR" value="90">Turkey (+90)</option>
                                <option data-countryCode="TM" value="7">Turkmenistan (+7)</option>
                                <option data-countryCode="TM" value="993">Turkmenistan (+993)</option>
                                <option data-countryCode="TC" value="1649">Turks &amp; Caicos Islands (+1649)</option>
                                <option data-countryCode="TV" value="688">Tuvalu (+688)</option>
                                <option data-countryCode="UG" value="256">Uganda (+256)</option>
                                <!-- <option data-countryCode="GB" value="44">UK (+44)</option> -->
                                <option data-countryCode="UA" value="380">Ukraine (+380)</option>
                                <option data-countryCode="AE" value="971">United Arab Emirates (+971)</option>
                                <option data-countryCode="UY" value="598">Uruguay (+598)</option>
                                <!-- <option data-countryCode="US" value="1">USA (+1)</option> -->
                                <option data-countryCode="UZ" value="7">Uzbekistan (+7)</option>
                                <option data-countryCode="VU" value="678">Vanuatu (+678)</option>
                                <option data-countryCode="VA" value="379">Vatican City (+379)</option>
                                <option data-countryCode="VE" value="58">Venezuela (+58)</option>
                                <option data-countryCode="VN" value="84">Vietnam (+84)</option>
                                <option data-countryCode="VG" value="84">Virgin Islands - British (+1284)</option>
                                <option data-countryCode="VI" value="84">Virgin Islands - US (+1340)</option>
                                <option data-countryCode="WF" value="681">Wallis &amp; Futuna (+681)</option>
                                <option data-countryCode="YE" value="969">Yemen (North)(+969)</option>
                                <option data-countryCode="YE" value="967">Yemen (South)(+967)</option>
                                <option data-countryCode="ZM" value="260">Zambia (+260)</option>
                                <option data-countryCode="ZW" value="263">Zimbabwe (+263)</option>
                            </optgroup>
                        </select>
                        <input id="inputMobile" name="contact-mobile" type="number" class="form-control"
                            placeholder="11xxxxxxx" required>
                        <div class="invalid-feedback">
                            <span class="eng">Please type your number.</span>
                            <span class="zh">请填上手提电话号码。</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="eng" for="demo-email">Email:</label>
                        <label class="zh" for="demo-email">电邮：</label>
                        <input id="inputEmail" name="contact-email" type="email" class="form-control"
                            placeholder="you@yoursite.com" required>
                        <div class="invalid-feedback">
                            <span class="eng">Please type your email.</span>
                            <span class="zh">请填上电邮。</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <a id="myImg"  style="color: blue; cursor: pointer;"><u></u></a>
                    </div>
                    {{!-- <div class="form-group">
                                    <label>Please choose one of the followings:</label>
                                </div> --}}
                    <div class="d-none alert alert-success w-100 my-md-3" role="alert" data-success-message>
                        <span class="eng">Thanks, a member of our team will be in touch shortly.</span>
                        <span class="zh">谢谢，我们团队的成员将很快与您联系。</span>
                    </div>
                    
                    <div class="d-none alert alert-danger w-100 my-md-3" role="alert" data-error-message
                        id="userFormErrorMsg">
                        <span class="eng">Please fill all fields correctly.</span>
                        <span class="zh">请准确填上所有个人资料。</span>
                    </div>
                    {{!-- <div data-recaptcha data-sitekey="INSERT_YOUR_RECAPTCHA_V2_SITEKEY_HERE" data-size="invisible"
                        data-badge="bottomleft"></div> --}}
                    {{!-- <button class="btn btn-primary btn-block btn-loading" type="submit"
                            data-loading-text="Submit form">
                            <svg class="icon bg-white" width="24px" height="24px" viewBox="0 0 24 24" version="1.1"
                                xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                <title>Icon For Loading</title>
                                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                    <g>
                                        <polygon points="0 0 24 0 24 24 0 24" opacity="0"></polygon>
                                    </g>
                                    <path
                                        d="M12,4 L12,6 C8.6862915,6 6,8.6862915 6,12 C6,15.3137085 8.6862915,18 12,18 C15.3137085,18 18,15.3137085 18,12 C18,10.9603196 17.7360885,9.96126435 17.2402578,9.07513926 L18.9856052,8.09853149 C19.6473536,9.28117708 20,10.6161442 20,12 C20,16.418278 16.418278,20 12,20 C7.581722,20 4,16.418278 4,12 C4,7.581722 7.581722,4 12,4 Z"
                                        fill="#000000" fill-rule="nonzero"
                                        transform="translate(12.000000, 12.000000) scale(-1, 1) translate(-12.000000, -12.000000) ">
                                    </path>
                                </g>
                            </svg>
                            <span>Submit</span>
                        </button> --}}
                    <button class="btn btn-primary btn-block btn-loading" data-loading-text="Submit form"
                        id="propertyForRentButton" onclick="propertyToRentClick();">
                        <span class="eng">Property for RENT</span>
                        <span class="zh">出租产业</span>
                        </button>
                    <button class="btn btn-primary btn-block btn-loading" type="submit" data-loading-text="Submit form"
                        id="propertyForSaleButton" onclick="propertyToSaleClick()">
                        <span class="eng">Property for SALE</span>
                        <span class="zh">售卖产业</span>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {{!-- <div class="modal fade" id="modalImage" tabindex="-1" role="dialog" aria-hidden="true"
    style="display: none;">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header border-0 pb-0">
          <div class="w-100 pt-4">
            <div class="d-inline-block" style="padding: 10px;">
              <img src="images/how_does_it_work.jpeg" alt="Confirmation Icon" style="width: 100%;">
            </div>
          </div>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">
              <img src="assets/img/icons/interface/icon-x.svg" alt="Icon">
            </span>
          </button>
        </div>
        <div class="modal-body px-md-4 px-lg-5 pb-4 pb-lg-5" style="color: black; font-weight: 700;">
          <button class="btn btn-primary btn-block btn-loading" id="closeImageModal"><span>OK</span></button>
        </div>
      </div>
    </div>
  </div> --}}
    <div id="myModal" class="modal-img">
        <span class="close-img">&times;</span>
        <img class="modal-img-content" id="img01">
        <div id="caption-img"></div>
    </div>

    {{!-- modal zh --}}

    {{!-- <div class="modal fade" id="modalImage-zh" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header border-0 pb-0">
                    <div class="w-100 pt-4">
                        <div class="d-inline-block" style="padding: 10px;">
                            <img src="images/how_does_it_work_zh.png" alt="Confirmation Icon" style="width: 100%;">
                        </div>
                    </div>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">
                            <img src="assets/img/icons/interface/icon-x.svg" alt="Icon">
                        </span>
                    </button>
                </div>
                <div class="modal-body px-md-4 px-lg-5 pb-4 pb-lg-5" style="color: black; font-weight: 700;">
                    <button class="btn btn-primary btn-block btn-loading"
                        id="closeImageModal-zh"><span>OK</span></button>
                </div>
            </div>
        </div>
    </div> --}}
    <div id="myModal-zh" class="modal-img">
        <span class="close-img-zh">&times;</span>
        <img class="modal-img-content" id="img01-zh">
        <div id="caption-img"></div>
    </div>
    <!-- Required vendor scripts (Do not remove) -->
    <script type="text/javascript" src="assets/js/jquery.min.js"></script>
    <script type="text/javascript" src="assets/js/popper.min.js"></script>
    <script type="text/javascript" src="assets/js/bootstrap.js"></script>

    <!-- Optional Vendor Scripts (Remove the plugin script here and comment initializer script out of index.js if site does not use that feature) -->

    <!-- AOS (Animate On Scroll - animates elements into view while scrolling down) -->
    <script type="text/javascript" src="assets/js/aos.js"></script>
    <!-- Clipboard (copies content from browser into OS clipboard) -->
    <script type="text/javascript" src="assets/js/clipboard.min.js"></script>
    <!-- Fancybox (handles image and video lightbox and galleries) -->
    <script type="text/javascript" src="assets/js/jquery.fancybox.min.js"></script>
    <!-- Flatpickr (calendar/date/time picker UI) -->
    <script type="text/javascript" src="assets/js/flatpickr.min.js"></script>
    <!-- Flickity (handles touch enabled carousels and sliders) -->
    <script type="text/javascript" src="assets/js/flickity.pkgd.min.js"></script>
    <!-- Ion rangeSlider (flexible and pretty range slider elements) -->
    <script type="text/javascript" src="assets/js/ion.rangeSlider.min.js"></script>
    <!-- Isotope (masonry layouts and filtering) -->
    <script type="text/javascript" src="assets/js/isotope.pkgd.min.js"></script>
    <!-- jarallax (parallax effect and video backgrounds) -->
    <script type="text/javascript" src="assets/js/jarallax.min.js"></script>
    <script type="text/javascript" src="assets/js/jarallax-video.min.js"></script>
    <script type="text/javascript" src="assets/js/jarallax-element.min.js"></script>
    <!-- jQuery Countdown (displays countdown text to a specified date) -->
    <script type="text/javascript" src="assets/js/jquery.countdown.min.js"></script>
    <!-- jQuery smartWizard facilitates steppable wizard content -->
    <script type="text/javascript" src="assets/js/jquery.smartWizard.min.js"></script>
    <!-- Plyr (unified player for Video, Audio, Vimeo and Youtube) -->
    <script type="text/javascript" src="assets/js/plyr.polyfilled.min.js"></script>
    <!-- Prism (displays formatted code boxes) -->
    <script type="text/javascript" src="assets/js/prism.js"></script>
    <!-- ScrollMonitor (manages events for elements scrolling in and out of view) -->
    <script type="text/javascript" src="assets/js/scrollMonitor.js"></script>
    <!-- Smooth scroll (animation to links in-page)-->
    <script type="text/javascript" src="assets/js/smooth-scroll.polyfills.min.js"></script>
    <!-- SVGInjector (replaces img tags with SVG code to allow easy inclusion of SVGs with the benefit of inheriting colors and styles)-->
    <script type="text/javascript" src="assets/js/svg-injector.umd.production.js"></script>
    <!-- TwitterFetcher (displays a feed of tweets from a specified account)-->
    <script type="text/javascript" src="assets/js/twitterFetcher_min.js"></script>
    <!-- Typed text (animated typing effect)-->
    <script type="text/javascript" src="assets/js/typed.min.js"></script>
    <!-- Required theme scripts (Do not remove) -->
    <script type="text/javascript" src="assets/js/theme.js"></script>
    <!-- Removes page load animation when window is finished loading -->
    <script type="text/javascript">
        window.addEventListener("load", function () {
            document.querySelector('body').classList.add('loaded');
        });
    </script>
    {{!-- Javascript function --}}
    <script type="text/javascript">
    var userid = ''
    var requestid = ''
        $("#toUserForm").click(function () {
            $("#user_form").modal("show");
        });
        $("#toUserForm2").click(function () {
            $("#user_form").modal("show");
        });
       // $("#propertyForRentButton").click(function () {
        //    window.location.href = "propertyForRent";
        //});
        //$("#propertyForSaleButton").click(function () {
        //    window.location.href = "propertyForSale"
        //});
       // $("#propertyForRentButton_zh").click(function () {
       //     window.location.href = "propertyForRent-zh";
       // });
        //$("#propertyForSaleButton_zh").click(function () {
        //    window.location.href = "propertyForSale-zh"
       // });
        $(".about-us").click(function () {
            window.location.href = "about-us"
        });
        $(".about-us-zh").click(function () {
            window.location.href = "about-us-zh"
        });
        $("#learnMore").click(function () {
            var scrollTo;
            var container = $('html,body');
            scrollTo = $('#friendlyTip');
            container.animate({
                scrollTop: scrollTo.offset().top - 100
            });
        });
        $("#learnMore2").click(function () {
            var scrollTo;
            var container = $('html,body');
            scrollTo = $('#marketTip');
            container.animate({
                scrollTop: scrollTo.offset().top - 100
            });
        });
        $("#whatNext").click(function () {
            var scrollTo;
            var container = $('html,body');
            scrollTo = $('#situation');
            container.animate({
                scrollTop: scrollTo.offset().top - 100
            });
        });
        $("#keyHere").click(function () {
            var scrollTo;
            var container = $('html,body');
            scrollTo = $('#whyUs');
            container.animate({
                scrollTop: scrollTo.offset().top - 100
            });
        });
        //$("#openImage").click(function () {
        //    $("#modalImage").modal("show");
       // });

       // $("#closeImageModal").click(function () {
         //   $("#modalImage").modal("hide");
        //});
        //$("#openImage-zh").click(function () {
        //    $("#modalImage-zh").modal("show");
        //});

        //$("#closeImageModal-zh").click(function () {
          //  $("#modalImage-zh").modal("hide");
        //});


        var modal = document.getElementById("myModal");

        // Get the image and insert it inside the modal - use its "alt" text as a caption
        var img = document.getElementById("myImg");
        var modalImg = document.getElementById("img01");
        var captionText = document.getElementById("caption-img");
        img.onclick = function () {
            modal.style.display = "block";
            modalImg.src = 'images/how_does_it_work.jpeg';
            //captionText.innerHTML = this.alt;
        }

        // Get the <span> element that closes the modal
        var span = document.getElementsByClassName("close-img")[0];

        // When the user clicks on <span> (x), close the modal
        span.onclick = function () {
            modal.style.display = "none";
        }


        var modalzh = document.getElementById("myModal-zh");

        // Get the image and insert it inside the modal - use its "alt" text as a caption
        var imgzh = document.getElementById("myImg-zh");
        var modalImgzh = document.getElementById("img01-zh");
        var captionTextzh = document.getElementById("caption-img");
        imgzh.onclick = function () {
            modalzh.style.display = "block";
            modalImgzh.src = 'images/how_does_it_work_zh.png';
            //captionText.innerHTML = this.alt;
        }

        // Get the <span> element that closes the modal
        var spanzh = document.getElementsByClassName("close-img-zh")[0];

        // When the user clicks on <span> (x), close the modal
        spanzh.onclick = function () {
            modalzh.style.display = "none";
        }
        </script>
<script type="text/javascript" src="assets/js/u_firestore_user_info.js"></script>
</body>

</html>