<!doctype html>
<html lang="zh">

<head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Bootstrap HTML template and UI kit by Medium Rare">
    <!-- Begin loading animation -->
    <link href="assets/css/loaders/loader-pulse.css" rel="stylesheet" type="text/css" media="all" />
    <!-- End loading animation -->
    <link href="assets/css/theme.css" rel="stylesheet" type="text/css" media="all" />
    <link href="https://fonts.googleapis.com/css?family=Nunito:400,400i,600,700&display=swap" rel="stylesheet">
</head>

<body style="padding: 0;">
    <div class="loader">
        <div class="loading-animation"></div>
    </div>
    <!-- <div class="alert alert-dismissible d-none d-md-block bg-primary-3 text-white py-4 py-md-3 px-0 mb-0 rounded-0 border-0">
    <div class="container">
        <div class="row no-gutters align-items-md-center justify-content-center">
            <div class="col-lg-11 col-md d-flex flex-column flex-md-row align-items-md-center justify-content-lg-center">
                <div class="mb-3 mb-md-0"><strong>Intro Sale</strong> $10 per license for Jumpstart's launch. Act fast, ends soon.</div>
                <a class="btn btn-sm btn-success ml-md-3" target="_blank" href=#>Redeem Offer</a>
            </div>
            <div class="col-auto position-absolute right">
                <button type="button" class="close p-0 position-relative" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">
                        <img src="assets/img/icons/interface/icon-x.svg" alt="Close" class="icon icon-sm bg-white" data-inject-svg>
                    </span>
                </button>
            </div>
        </div>
    </div>
</div> -->
    {{> newHeader}}

    <div class="bg-primary-3 text-white p-0" data-overlay>
        <img src="assets/img/heros/hero-1.jpg" alt="Image" class="bg-image opacity-60">
        <section class="pb-0">
            <div class="container pb-5">
                <div class="row justify-content-center text-center">
                    <div class="col-md-9 col-lg-8 col-xl-7">
                        {{!-- <h1 class="display-3">为您提供帮助</h1> --}}
                        <h1 class="lead mb-0">联络亚洲产拍</h1>
                        <h1 class="lead mb-0">我們將為您提供協助</h1>
                    </div>
                </div>
            </div>
            <div class="divider divider-bottom"></div>
        </section>
    </div>
    <section class="pb-0">
        <div class="container">
            <div class="row section-title justify-content-center text-center">
                <div class="col-md-9 col-lg-8 col-xl-7">
                    <h3 class="display-4">联系我们</h3>
                    <div class="lead">发问查询</div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-10 col-lg-9 col-xl-8">
                    <form data-form-email novalidate action="/forms/smtp.php">
                        <div class="form-row">
                            <div class="col-sm">
                                <div class="form-group">
                                    <label for="contact-name">姓名</label>
                                    <input type="text" name="contact-name" class="form-control" id="contact-name"
                                        required>
                                    <div class="invalid-feedback">
                                        请填上姓名
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm">
                                <div class="form-group">
                                    <label for="contact-email">电邮</label>
                                    <input type="email" name="contact-email" class="form-control" id="contact-email"
                                        placeholder="you@website.com" required>
                                    <div class="invalid-feedback">
                                        请填上电邮
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            {{!-- <div class="col-sm">
                                <div class="form-group">
                                    <label for="contact-company">Company (optional)</label>
                                    <input type="text" name="contact-company" class="form-control" id="contact-company">
                                </div>
                            </div> --}}
                            <div class="col-sm">
                                <div class="form-group">
                                    <label for="contact-phone">电话（选项）</label>
                                    <input type="tel" name="contact-phone" class="form-control" id="contact-phone">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="contact-message">信息</label>
                            <textarea id="contact-message" name="contact-message" rows="10" class="form-control"
                                required></textarea>
                            <div class="invalid-feedback">
                               请告诉我们更多。
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-12">
                                <div data-recaptcha data-sitekey="6LeHF2EaAAAAAD22vchFRNWM3LK-MCFDvYlRIaen"></div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col">
                                <div class="d-none alert alert-success" role="alert" data-success-message>
                                    谢谢，我们团队的成员将很快与您联系。
                                </div>
                                <div class="d-none alert alert-danger" role="alert" data-error-message>
                                    请填上所有个人资料。
                                </div>
                                <div class="d-flex justify-content-end">
                                    <button class="btn btn-primary btn-loading" type="submit"
                                        data-loading-text="Sending">
                                        <!-- Icon for loading animation -->
                                        <svg class="icon bg-white" width="24px" height="24px" viewBox="0 0 24 24"
                                            version="1.1" xmlns="http://www.w3.org/2000/svg"
                                            xmlns:xlink="http://www.w3.org/1999/xlink">
                                            <title>Icon For Loading</title>
                                            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                <g>
                                                    <polygon points="0 0 24 0 24 24 0 24" opacity="0"></polygon>
                                                </g>
                                                <path
                                                    d="M12,4 L12,6 C8.6862915,6 6,8.6862915 6,12 C6,15.3137085 8.6862915,18 12,18 C15.3137085,18 18,15.3137085 18,12 C18,10.9603196 17.7360885,9.96126435 17.2402578,9.07513926 L18.9856052,8.09853149 C19.6473536,9.28117708 20,10.6161442 20,12 C20,16.418278 16.418278,20 12,20 C7.581722,20 4,16.418278 4,12 C4,7.581722 7.581722,4 12,4 Z"
                                                    fill="#000000" fill-rule="nonzero"
                                                    transform="translate(12.000000, 12.000000) scale(-1, 1) translate(-12.000000, -12.000000) ">
                                                </path>
                                            </g>
                                        </svg>
                                        <span>提交</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row justify-content-center text-center">
                <div class="col-md-auto" data-aos="fade-up">
                    <div class="px-md-3 mb-5 mb-md-0">
                        <h5>联络热线</h5>
                        <a href="javascript:void(0)" class="lead">+6016-419 3313</a>
                    </div>
                </div>
                <div class="col-md-auto" data-aos="fade-up" data-aos-delay="100">
                    <div class="px-md-3 mb-5 mb-md-0">
                        <h5>电邮</h5>
                        <a href="javascript:void(0)" class="lead">enquiry@realbid.asia</a>
                    </div>
                </div>
                <div class="col-md-auto" data-aos="fade-up" data-aos-delay="200">
                    <div class="px-md-3 mb-5 mb-md-0">
                        <h5>官方网页</h5>
                        <a href="javascript:void(0)" class="lead">www.realbid.asia</a>
                    </div>
                </div>
                <div class="col-md-auto" data-aos="fade-up" data-aos-delay="300">
                    <div class="px-md-3 mb-5 mb-md-0">
                        <h5>公司地址</h5>
                        <a href="javascript:void(0)" class="lead">
                            192A, Jalan Jelutong,<br>
                             11600 Penang,<br>
                             Malaysia
                        </a>
                        {{!-- <a href="#">Get Directions</a> --}}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="divider divider-bottom bg-primary-3"></div>

    {{!-- {{> footer}} --}}
    <a href="#top" class="btn btn-primary rounded-circle btn-back-to-top" data-smooth-scroll data-aos="fade-up"
        data-aos-offset="2000" data-aos-mirror="true" data-aos-once="false">
        <img src="assets/img/icons/interface/icon-arrow-up.svg" alt="Icon" class="icon bg-white" data-inject-svg>
    </a>
{{> user-form}}
<div id="myModal-zh" class="modal-img">
        <span class="close-img-zh">&times;</span>
        <img class="modal-img-content" id="img01-zh">
        <div id="caption-img"></div>
    </div>
    <!-- Required vendor scripts (Do not remove) -->
    <script type="text/javascript" src="assets/js/jquery.min.js"></script>
    <script type="text/javascript" src="assets/js/popper.min.js"></script>
    <script type="text/javascript" src="assets/js/bootstrap.js"></script>

    <!-- Optional Vendor Scripts (Remove the plugin script here and comment initializer script out of index.js if site does not use that feature) -->

    <!-- AOS (Animate On Scroll - animates elements into view while scrolling down) -->
    <script type="text/javascript" src="assets/js/aos.js"></script>
    <!-- Clipboard (copies content from browser into OS clipboard) -->
    <script type="text/javascript" src="assets/js/clipboard.min.js"></script>
    <!-- Fancybox (handles image and video lightbox and galleries) -->
    <script type="text/javascript" src="assets/js/jquery.fancybox.min.js"></script>
    <!-- Flatpickr (calendar/date/time picker UI) -->
    <script type="text/javascript" src="assets/js/flatpickr.min.js"></script>
    <!-- Flickity (handles touch enabled carousels and sliders) -->
    <script type="text/javascript" src="assets/js/flickity.pkgd.min.js"></script>
    <!-- Ion rangeSlider (flexible and pretty range slider elements) -->
    <script type="text/javascript" src="assets/js/ion.rangeSlider.min.js"></script>
    <!-- Isotope (masonry layouts and filtering) -->
    <script type="text/javascript" src="assets/js/isotope.pkgd.min.js"></script>
    <!-- jarallax (parallax effect and video backgrounds) -->
    <script type="text/javascript" src="assets/js/jarallax.min.js"></script>
    <script type="text/javascript" src="assets/js/jarallax-video.min.js"></script>
    <script type="text/javascript" src="assets/js/jarallax-element.min.js"></script>
    <!-- jQuery Countdown (displays countdown text to a specified date) -->
    <script type="text/javascript" src="assets/js/jquery.countdown.min.js"></script>
    <!-- jQuery smartWizard facilitates steppable wizard content -->
    <script type="text/javascript" src="assets/js/jquery.smartWizard.min.js"></script>
    <!-- Plyr (unified player for Video, Audio, Vimeo and Youtube) -->
    <script type="text/javascript" src="assets/js/plyr.polyfilled.min.js"></script>
    <!-- Prism (displays formatted code boxes) -->
    <script type="text/javascript" src="assets/js/prism.js"></script>
    <!-- ScrollMonitor (manages events for elements scrolling in and out of view) -->
    <script type="text/javascript" src="assets/js/scrollMonitor.js"></script>
    <!-- Smooth scroll (animation to links in-page)-->
    <script type="text/javascript" src="assets/js/smooth-scroll.polyfills.min.js"></script>
    <!-- SVGInjector (replaces img tags with SVG code to allow easy inclusion of SVGs with the benefit of inheriting colors and styles)-->
    <script type="text/javascript" src="assets/js/svg-injector.umd.production.js"></script>
    <!-- TwitterFetcher (displays a feed of tweets from a specified account)-->
    <script type="text/javascript" src="assets/js/twitterFetcher_min.js"></script>
    <!-- Typed text (animated typing effect)-->
    <script type="text/javascript" src="assets/js/typed.min.js"></script>
    <!-- Required theme scripts (Do not remove) -->
    <script type="text/javascript" src="assets/js/theme.js"></script>
    <!-- Removes page load animation when window is finished loading -->
    <script type="text/javascript">
        window.addEventListener("load", function () {
            document.querySelector('body').classList.add('loaded');
        });
         var modalzh = document.getElementById("myModal-zh");

        // Get the image and insert it inside the modal - use its "alt" text as a caption
        var imgzh = document.getElementById("myImg-zh");
        var modalImgzh = document.getElementById("img01-zh");
        var captionTextzh = document.getElementById("caption-img");
        imgzh.onclick = function () {
            modalzh.style.display = "block";
            modalImgzh.src = 'images/how_does_it_work_zh.png';
            //captionText.innerHTML = this.alt;
        }

        // Get the <span> element that closes the modal
        var spanzh = document.getElementsByClassName("close-img-zh")[0];

        // When the user clicks on <span> (x), close the modal
        spanzh.onclick = function () {
            modalzh.style.display = "none";
        }
        var language = 'eng'
        if (window.location.href.indexOf('home-zh') > 0) {
            console.log("zh");
            language = 'zh'
            $(".zh").show();
            $(".eng").hide();
        } else if (window.location.href.indexOf('about-us-zh') > 0) {
            console.log("about zh");
            language = 'zh'
            $(".zh").show();
            $(".eng").hide();
        } else if (window.location.href.indexOf('faq-zh') > 0) {
            console.log("faq zh");
            language = 'zh'
            $(".zh").show();
            $(".eng").hide();
        } else if (window.location.href.indexOf('contact-us-zh') > 0) {
            console.log("contact zh");
            language = 'zh'
            $(".zh").show();
            $(".eng").hide();
        } else {
            console.log("eng");
            $(".zh").hide();
            $(".eng").show();
        }

        function propertyToSaleClick() {
            let userInfoForm = $("#userInfoForm")[0];
            let userInfo = {
                name: $("#inputName").val(),
                mobile: $("#phoneCountryCode").val() + $("#inputMobile").val(),
                email: $("#inputEmail").val(),
            }
            console.log(userInfo);
            if (userInfoForm.checkValidity() === false) {
                userInfoForm.classList.add('was-validated');
            } else {
                $.ajax({
                    type: 'POST',
                    url: '/addUser/sale',
                    data: userInfo,
                    cache: false,
                    success: function (result) {
                        if (language == "eng") {
                            window.location.href = "propertyForSale/" + result.userID + "/" + result
                                .requestID;

                        } else {
                            window.location.href = "propertyForSale-zh/" + result.userID + "/" + result
                                .requestID;

                        }
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        if (jqXHR.status == 500) {
                        } else {
                            console.log('Unexpected error.');
                        }
                    }
                });
            }
        }

        function propertyToRentClick(e) {
            let userInfoForm = $("#userInfoForm")[0];
            let userData = {
                name: $("#inputName").val(),
                mobile: $("#phoneCountryCode").val() + $("#inputMobile").val(),
                email: $("#inputEmail").val(),
            }
            console.log(userData);

            if (userInfoForm.checkValidity() === false) {
                userInfoForm.classList.add('was-validated');
            } else {
                $.ajax({
                    type: 'POST',
                    url: '/addUser/rent',
                    data: userData,
                    cache: false,
                    success: function (result) {
                        console.log(result);
                        if (language == "eng") {
                            window.location.href = "propertyForRent/" + result.userID + "/" + result
                                .requestID;

                        } else {
                            window.location.href = "propertyForRent-zh/" + result.userID + "/" + result
                                .requestID;

                        }
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        if (jqXHR.status == 500) {
                        } else {
                            console.log('Unexpected error.');
                        }
                    }
                });
                e.preventDefault()
            }
        }
    </script>

</body>

</html>