<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Bootstrap HTML template and UI kit by Medium Rare">
    <!-- Begin loading animation -->
    <link href="assets/css/loaders/loader-pulse.css" rel="stylesheet" type="text/css" media="all" />
    <!-- End loading animation -->
    <link href="assets/css/theme.css" rel="stylesheet" type="text/css" media="all" />
    <link href="https://fonts.googleapis.com/css?family=Nunito:400,400i,600,700&display=swap" rel="stylesheet">
</head>

<body style="padding: 0;">
    <div class="loader">
        <div class="loading-animation"></div>
    </div>
    {{> newHeader}}

    <div class="bg-primary-3 o-hidden" data-overlay>
        <section class="text-white pb-0">
            <div class="container pb-5">
                <div class="row justify-content-center text-center">
                    <div class="col-md-9 col-lg-8 col-xl-7">
                        <h1 class="display-3"><mark data-aos="highlight-text"
                                data-aos-delay="250">常问问题 </mark></h1>
                    </div>
                </div>
            </div>
            <div class="position-absolute w-50 h-100 top left" data-jarallax-element="100 50">
                <div class="blob blob-4 bg-gradient w-100 h-100 top left"></div>
            </div>
            <div class="divider divider-bottom bg-white"></div>
        </section>
    </div>
    <section>
        <div class="container">
            <br>
            <div class="row align-items-center justify-content-around text-center text-lg-left">
                <div class="col-md-12 col-lg-12 col-xl-12 mb-4 mb-md-5 mb-lg-0 pl-lg-5 pl-xl-0">
                    <div id="faq-accordion">
                        <div class="card mb-2 mb-md-3">
                            <a href="#accordion-1" data-toggle="collapse" role="button" aria-expanded="false"
                                class="p-3 p-md-4">
                                <div class="d-flex justify-content-between align-items-center">
                                    <h6 class="mb-0 mr-2">1. 什么是产业公开拍卖？ </h6>
                                    <img src="assets/img/icons/interface/icon-caret-right.svg" alt="Caret Right"
                                        class="icon icon-sm" data-inject-svg>
                                </div>
                            </a>
                            <div class="collapse" id="accordion-1" data-parent="#faq-accordion">
                                <div class="px-3 px-md-4 pb-3 pb-md-4" style="text-align: justify;">
                                    产业公开拍卖是即时通过公开竞标的方式出售产业。也就是说，在拍卖进行中提供最 高价格的有资格买家成为赢家。 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row align-items-center justify-content-around text-center text-lg-left">
                <div class="col-md-12 col-lg-12 col-xl-12 mb-4 mb-md-5 mb-lg-0 pl-lg-5 pl-xl-0">
                    <div id="faq-accordion">
                        <div class="card mb-2 mb-md-3">
                            <a href="#accordion-2" data-toggle="collapse" role="button" aria-expanded="false"
                                class="p-3 p-md-4">
                                <div class="d-flex justify-content-between align-items-center">
                                    <h6 class="mb-0 mr-2">2. 拍卖与直接销售有什么区别？</h6>
                                    <img src="assets/img/icons/interface/icon-caret-right.svg" alt="Caret Right"
                                        class="icon icon-sm" data-inject-svg>
                                </div>
                            </a>
                            <div class="collapse" id="accordion-2" data-parent="#faq-accordion">
                                <div class="px-3 px-md-4 pb-3 pb-md-4" style="text-align: justify;">
                                    直销是将固定价格或协商价格的房地产出售给一位已确认的买家。拍卖销售是通过邀 请尽可能多的有兴趣买家以最低的起拍价开始竞标，最高价的竞标者将成为赢家。
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row align-items-center justify-content-around text-center text-lg-left">
                <div class="col-md-12 col-lg-12 col-xl-12 mb-4 mb-md-5 mb-lg-0 pl-lg-5 pl-xl-0">
                    <div id="faq-accordion">
                        <div class="card mb-2 mb-md-3">
                            <a href="#accordion-3" data-toggle="collapse" role="button" aria-expanded="false"
                                class="p-3 p-md-4">
                                <div class="d-flex justify-content-between align-items-center">
                                    <h6 class="mb-0 mr-2">3. 拍卖与招标 (tender) 有什么区别？ 
                                    </h6>
                                    <img src="assets/img/icons/interface/icon-caret-right.svg" alt="Caret Right"
                                        class="icon icon-sm" data-inject-svg>
                                </div>
                            </a>
                            <div class="collapse" id="accordion-3" data-parent="#faq-accordion">
                                <div class="px-3 px-md-4 pb-3 pb-md-4" style="text-align: justify;">
                                    招标是根据招标通告所设定的条件与要求在截止日期前提交建议书，之后招标理事会 将开会决定中标人或流标。
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row align-items-center justify-content-around text-center text-lg-left">
                <div class="col-md-12 col-lg-12 col-xl-12 mb-4 mb-md-5 mb-lg-0 pl-lg-5 pl-xl-0">

                    <div id="faq-accordion">
                        <div class="card mb-2 mb-md-3">
                            <a href="#accordion-5" data-toggle="collapse" role="button" aria-expanded="false"
                                class="p-3 p-md-4">
                                <div class="d-flex justify-content-between align-items-center">
                                    <h6 class="mb-0 mr-2">4. 我的财产拍卖将如何进行？ </h6>
                                    <img src="assets/img/icons/interface/icon-caret-right.svg" alt="Caret Right"
                                        class="icon icon-sm" data-inject-svg>
                                </div>
                            </a>
                            <div class="collapse" id="accordion-5" data-parent="#faq-accordion">
                                <div class="px-3 px-md-4 pb-3 pb-md-4" style="text-align: justify;">
                                    它将通过线上拍卖进行。 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row align-items-center justify-content-around text-center text-lg-left">
                <div class="col-md-12 col-lg-12 col-xl-12 mb-4 mb-md-5 mb-lg-0 pl-lg-5 pl-xl-0">
                    <div id="faq-accordion">
                        <div class="card mb-2 mb-md-3">
                            <a href="#accordion-6" data-toggle="collapse" role="button" aria-expanded="false"
                                class="p-3 p-md-4">
                                <div class="d-flex justify-content-between align-items-center">
                                    <h6 class="mb-0 mr-2">5. 将产业所有权转移给新的购买者需要多长时间？ </h6>
                                    <img src="assets/img/icons/interface/icon-caret-right.svg" alt="Caret Right"
                                        class="icon icon-sm" data-inject-svg>
                                </div>
                            </a>
                            <div class="collapse" id="accordion-6" data-parent="#faq-accordion">
                                <div class="px-3 px-md-4 pb-3 pb-md-4" style="text-align: justify;">
                                    这实际上取决于整个过程的相关处理单位的协调，例如律师，发展商，政府部门和金 融机构等等。它还取决于买方是通过现金还是借贷完成买卖。自己融资肯定会更快完 成交易。必须注意的是买卖双方均要遵守买卖协议中规定的完成期限。
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row align-items-center justify-content-around text-center text-lg-left">
                <div class="col-md-12 col-lg-12 col-xl-12 mb-4 mb-md-5 mb-lg-0 pl-lg-5 pl-xl-0">
                    <div id="faq-accordion">
                        <div class="card mb-2 mb-md-3">
                            <a href="#accordion-7" data-toggle="collapse" role="button" aria-expanded="false"
                                class="p-3 p-md-4">
                                <div class="d-flex justify-content-between align-items-center">
                                    <h6 class="mb-0 mr-2">6. 我如何通过公开拍卖将产业出租？</h6>
                                    <img src="assets/img/icons/interface/icon-caret-right.svg" alt="Caret Right"
                                        class="icon icon-sm" data-inject-svg>
                                </div>
                            </a>
                            <div class="collapse" id="accordion-7" data-parent="#faq-accordion">
                                <div class="px-3 px-md-4 pb-3 pb-md-4" style="text-align: justify;">
                                    这类似于第一条问题的答案，拍卖底价将是房东愿意出租的最低月租金。
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row align-items-center justify-content-around text-center text-lg-left">
                <div class="col-md-12 col-lg-12 col-xl-12 mb-4 mb-md-5 mb-lg-0 pl-lg-5 pl-xl-0">
                    <div id="faq-accordion">
                        <div class="card mb-2 mb-md-3">
                            <a href="#accordion-8" data-toggle="collapse" role="button" aria-expanded="false"
                                class="p-3 p-md-4">
                                <div class="d-flex justify-content-between align-items-center">
                                    <h6 class="mb-0 mr-2"> 7. 如果我被列入黑名单，我可以拍卖或出租我的财产吗？ 
                                    </h6>
                                    <img src="assets/img/icons/interface/icon-caret-right.svg" alt="Caret Right"
                                        class="icon icon-sm" data-inject-svg>
                                </div>
                            </a>
                            <div class="collapse" id="accordion-8" data-parent="#faq-accordion">
                                <div class="px-3 px-md-4 pb-3 pb-md-4" style="text-align: justify;">
                                    这是有可能的，只要您不是破产者，而且您的产业所有权没有转让限制。
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row align-items-center justify-content-around text-center text-lg-left">
                <div class="col-md-12 col-lg-12 col-xl-12 mb-4 mb-md-5 mb-lg-0 pl-lg-5 pl-xl-0">

                    <div id="faq-accordion">
                        <div class="card mb-2 mb-md-3">
                            <a href="#accordion-4" data-toggle="collapse" role="button" aria-expanded="false"
                                class="p-3 p-md-4">
                                <div class="d-flex justify-content-between align-items-center">
                                    <h6 class="mb-0 mr-2">8. 如果我还有其他疑问，可以与谁联系？ </h6>
                                    <img src="assets/img/icons/interface/icon-caret-right.svg" alt="Caret Right"
                                        class="icon icon-sm" data-inject-svg>
                                </div>
                            </a>
                            <div class="collapse" id="accordion-4" data-parent="#faq-accordion">
                                <div class="px-3 px-md-4 pb-3 pb-md-4" style="text-align: justify;">
                                    您可以将查询发送到主菜单上的“联系我们”部分。或者，您可以将 WhatsApp 发送到+  6016-419 3313 或发送电子邮件至 enquiry@realbid.asia，我们将尽快回复您。 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section>
        <div class="container">
            <br>
            <div class="row align-items-center justify-content-around text-center text-lg-left">
                <div class="col-md-12 col-lg-12 col-xl-12 mb-4 mb-md-5 mb-lg-0 pl-lg-5 pl-xl-0">
                    <div id="faq-accordion">
                        <div class="card mb-2 mb-md-3">
                            <a href="#accordion-9" data-toggle="collapse" role="button" aria-expanded="false"
                                class="p-3 p-md-4">
                                <div class="d-flex justify-content-between align-items-center">
                                    <h6 class="mb-0 mr-2">9. 私人产业业主可以将其财产拍卖吗？  </h6>
                                    <img src="assets/img/icons/interface/icon-caret-right.svg" alt="Caret Right"
                                        class="icon icon-sm" data-inject-svg>
                                </div>
                            </a>
                            <div class="collapse" id="accordion-9" data-parent="#faq-accordion">
                                <div class="px-3 px-md-4 pb-3 pb-md-4" style="text-align: justify;">
                                    可以。任何产业均可通过拍卖出售。 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row align-items-center justify-content-around text-center text-lg-left">
                <div class="col-md-12 col-lg-12 col-xl-12 mb-4 mb-md-5 mb-lg-0 pl-lg-5 pl-xl-0">
                    <div id="faq-accordion">
                        <div class="card mb-2 mb-md-3">
                            <a href="#accordion-10" data-toggle="collapse" role="button" aria-expanded="false"
                                class="p-3 p-md-4">
                                <div class="d-flex justify-content-between align-items-center">
                                    <h6 class="mb-0 mr-2">10. 我如何能够评估我想拍卖的产业？ </h6>
                                    <img src="assets/img/icons/interface/icon-caret-right.svg" alt="Caret Right"
                                        class="icon icon-sm" data-inject-svg>
                                </div>
                            </a>
                            <div class="collapse" id="accordion-10" data-parent="#faq-accordion">
                                <div class="px-3 px-md-4 pb-3 pb-md-4" style="text-align: justify;">
                                    参与亚洲产拍是必经之路！依据您选择的服务配套，我们将有一个评估过程来建议您 产业的可销售性。
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row align-items-center justify-content-around text-center text-lg-left">
                <div class="col-md-12 col-lg-12 col-xl-12 mb-4 mb-md-5 mb-lg-0 pl-lg-5 pl-xl-0">
                    <div id="faq-accordion">
                        <div class="card mb-2 mb-md-3">
                            <a href="#accordion-11" data-toggle="collapse" role="button" aria-expanded="false"
                                class="p-3 p-md-4">
                                <div class="d-flex justify-content-between align-items-center">
                                    <h6 class="mb-0 mr-2">11. 我需要为评估做些什么？ 
                                    </h6>
                                    <img src="assets/img/icons/interface/icon-caret-right.svg" alt="Caret Right"
                                        class="icon icon-sm" data-inject-svg>
                                </div>
                            </a>
                            <div class="collapse" id="accordion-11" data-parent="#faq-accordion">
                                <div class="px-3 px-md-4 pb-3 pb-md-4" style="text-align: justify;">
                                    这是亚洲产拍流程的一部分，您只需要在注册您的产业个案时按照相应的简单步骤完 成我们的程序即可。 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row align-items-center justify-content-around text-center text-lg-left">
                <div class="col-md-12 col-lg-12 col-xl-12 mb-4 mb-md-5 mb-lg-0 pl-lg-5 pl-xl-0">

                    <div id="faq-accordion">
                        <div class="card mb-2 mb-md-3">
                            <a href="#accordion-12" data-toggle="collapse" role="button" aria-expanded="false"
                                class="p-3 p-md-4">
                                <div class="d-flex justify-content-between align-items-center">
                                    <h6 class="mb-0 mr-2">12. 我可以要求以高于估价的价格作为产业的拍卖起拍价吗？ </h6>
                                    <img src="assets/img/icons/interface/icon-caret-right.svg" alt="Caret Right"
                                        class="icon icon-sm" data-inject-svg>
                                </div>
                            </a>
                            <div class="collapse" id="accordion-12" data-parent="#faq-accordion">
                                <div class="px-3 px-md-4 pb-3 pb-md-4" style="text-align: justify;">
                                    是可以的，但较高的价格可能会吸引较少的买家竞标您的产业。 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row align-items-center justify-content-around text-center text-lg-left">
                <div class="col-md-12 col-lg-12 col-xl-12 mb-4 mb-md-5 mb-lg-0 pl-lg-5 pl-xl-0">
                    <div id="faq-accordion">
                        <div class="card mb-2 mb-md-3">
                            <a href="#accordion-13" data-toggle="collapse" role="button" aria-expanded="false"
                                class="p-3 p-md-4">
                                <div class="d-flex justify-content-between align-items-center">
                                    <h6 class="mb-0 mr-2">13. 如何观察我的产业拍卖竞标过程？我如何知道我的产业是否已出售？</h6>
                                    <img src="assets/img/icons/interface/icon-caret-right.svg" alt="Caret Right"
                                        class="icon icon-sm" data-inject-svg>
                                </div>
                            </a>
                            <div class="collapse" id="accordion-13" data-parent="#faq-accordion">
                                <div class="px-3 px-md-4 pb-3 pb-md-4" style="text-align: justify;">
                                    您可以关注马来西亚领先的线上竞标平台 best2bid.com。整个过程是绝对公开且透明 的。 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row align-items-center justify-content-around text-center text-lg-left">
                <div class="col-md-12 col-lg-12 col-xl-12 mb-4 mb-md-5 mb-lg-0 pl-lg-5 pl-xl-0">
                    <div id="faq-accordion">
                        <div class="card mb-2 mb-md-3">
                            <a href="#accordion-14" data-toggle="collapse" role="button" aria-expanded="false"
                                class="p-3 p-md-4">
                                <div class="d-flex justify-content-between align-items-center">
                                    <h6 class="mb-0 mr-2">14. 我如何将产业转移让给新的买家？</h6>
                                    <img src="assets/img/icons/interface/icon-caret-right.svg" alt="Caret Right"
                                        class="icon icon-sm" data-inject-svg>
                                </div>
                            </a>
                            <div class="collapse" id="accordion-14" data-parent="#faq-accordion">
                                <div class="px-3 px-md-4 pb-3 pb-md-4" style="text-align: justify;">
                                    您必须任命一名合格的律师来处理您的产业转让事宜。 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row align-items-center justify-content-around text-center text-lg-left">
                <div class="col-md-12 col-lg-12 col-xl-12 mb-4 mb-md-5 mb-lg-0 pl-lg-5 pl-xl-0">
                    <div id="faq-accordion">
                        <div class="card mb-2 mb-md-3">
                            <a href="#accordion-15" data-toggle="collapse" role="button" aria-expanded="false"
                                class="p-3 p-md-4">
                                <div class="d-flex justify-content-between align-items-center">
                                    <h6 class="mb-0 mr-2">15. 如果有未结水电或管理层账单和银行贷款，我还能将我的业产进行拍卖出售吗？ 
                                    </h6>
                                    <img src="assets/img/icons/interface/icon-caret-right.svg" alt="Caret Right"
                                        class="icon icon-sm" data-inject-svg>
                                </div>
                            </a>
                            <div class="collapse" id="accordion-15" data-parent="#faq-accordion">
                                <div class="px-3 px-md-4 pb-3 pb-md-4" style="text-align: justify;">
                                    仍然可以，但是我们保留专业意见直到我们收到您完整的亚洲产拍委托提交供我们咨 询为止。 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row align-items-center justify-content-around text-center text-lg-left">
                <div class="col-md-12 col-lg-12 col-xl-12 mb-4 mb-md-5 mb-lg-0 pl-lg-5 pl-xl-0">

                    <div id="faq-accordion">
                        <div class="card mb-2 mb-md-3">
                            <a href="#accordion-16" data-toggle="collapse" role="button" aria-expanded="false"
                                class="p-3 p-md-4">
                                <div class="d-flex justify-content-between align-items-center">
                                    <h6 class="mb-0 mr-2">16. 我需要个别委任律师准备拍卖法律文件以参与亚洲产拍吗？ </h6>
                                    <img src="assets/img/icons/interface/icon-caret-right.svg" alt="Caret Right"
                                        class="icon icon-sm" data-inject-svg>
                                </div>
                            </a>
                            <div class="collapse" id="accordion-16" data-parent="#faq-accordion">
                                <div class="px-3 px-md-4 pb-3 pb-md-4" style="text-align: justify;">
                                    不需要，因为亚洲产拍已包括了这方面的服务 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>



    <section>
        <div class="container">
            <div class="row align-items-center justify-content-around text-center text-lg-left">
                <div class="col-md-12 col-lg-12 col-xl-12 mb-4 mb-md-5 mb-lg-0 pl-lg-5 pl-xl-0">

                    <div id="faq-accordion">
                        <div class="card mb-2 mb-md-3">
                            <a href="#accordion-17" data-toggle="collapse" role="button" aria-expanded="false"
                                class="p-3 p-md-4">
                                <div class="d-flex justify-content-between align-items-center">
                                    <h6 class="mb-0 mr-2">17. 您如何确定我的产业的拍卖起拍价？ 
                                    </h6>
                                    <img src="assets/img/icons/interface/icon-caret-right.svg" alt="Caret Right"
                                        class="icon icon-sm" data-inject-svg>
                                </div>
                            </a>
                            <div class="collapse" id="accordion-17" data-parent="#faq-accordion">
                                <div class="px-3 px-md-4 pb-3 pb-md-4" style="text-align: justify;">
                                    我们将根据根据您所选择的服务配套选择提供这方面的咨询。
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row align-items-center justify-content-around text-center text-lg-left">
                <div class="col-md-12 col-lg-12 col-xl-12 mb-4 mb-md-5 mb-lg-0 pl-lg-5 pl-xl-0">
                    <div id="faq-accordion">
                        <div class="card mb-2 mb-md-3">
                            <a href="#accordion-18" data-toggle="collapse" role="button" aria-expanded="false"
                                class="p-3 p-md-4">
                                <div class="d-flex justify-content-between align-items-center">
                                    <h6 class="mb-0 mr-2">18. 如果我的产业拍卖不出怎么办？ 
                                    </h6>
                                    <img src="assets/img/icons/interface/icon-caret-right.svg" alt="Caret Right"
                                        class="icon icon-sm" data-inject-svg>
                                </div>
                            </a>
                            <div class="collapse" id="accordion-18" data-parent="#faq-accordion">
                                <div class="px-3 px-md-4 pb-3 pb-md-4" style="text-align: justify;">
                                    拍卖不成功是不会影响您产业的状况。我们会根据您意愿为您提供替代的解决方案。
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row align-items-center justify-content-around text-center text-lg-left">
                <div class="col-md-12 col-lg-12 col-xl-12 mb-4 mb-md-5 mb-lg-0 pl-lg-5 pl-xl-0">
                    <div id="faq-accordion">
                        <div class="card mb-2 mb-md-3">
                            <a href="#accordion-19" data-toggle="collapse" role="button" aria-expanded="false"
                                class="p-3 p-md-4">
                                <div class="d-flex justify-content-between align-items-center">
                                    <h6 class="mb-0 mr-2">19. 一旦成功拍出，我是否必须接受我产业的拍卖成绩？ </h6>
                                    <img src="assets/img/icons/interface/icon-caret-right.svg" alt="Caret Right"
                                        class="icon icon-sm" data-inject-svg>
                                </div>
                            </a>
                            <div class="collapse" id="accordion-19" data-parent="#faq-accordion">
                                <div class="px-3 px-md-4 pb-3 pb-md-4" style="text-align: justify;">
                                    根据拍卖协议，一旦您的产业成功在拍卖中出售，该销售拥有法律协议约束。
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row align-items-center justify-content-around text-center text-lg-left">
                <div class="col-md-12 col-lg-12 col-xl-12 mb-4 mb-md-5 mb-lg-0 pl-lg-5 pl-xl-0">
                    <div id="faq-accordion">
                        <div class="card mb-2 mb-md-3">
                            <a href="#accordion-20" data-toggle="collapse" role="button" aria-expanded="false"
                                class="p-3 p-md-4">
                                <div class="d-flex justify-content-between align-items-center">
                                    <h6 class="mb-0 mr-2">20. 我可以委托亚洲产拍拍卖海外产业吗？
                                    </h6>
                                    <img src="assets/img/icons/interface/icon-caret-right.svg" alt="Caret Right"
                                        class="icon icon-sm" data-inject-svg>
                                </div>
                            </a>
                            <div class="collapse" id="accordion-20" data-parent="#faq-accordion">
                                <div class="px-3 px-md-4 pb-3 pb-md-4" style="text-align: justify;">
                                    我们暂时不承接海外产业拍卖事宜 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row align-items-center justify-content-around text-center text-lg-left">
                <div class="col-md-12 col-lg-12 col-xl-12 mb-4 mb-md-5 mb-lg-0 pl-lg-5 pl-xl-0">

                    <div id="faq-accordion">
                        <div class="card mb-2 mb-md-3">
                            <a href="#accordion-21" data-toggle="collapse" role="button" aria-expanded="false"
                                class="p-3 p-md-4">
                                <div class="d-flex justify-content-between align-items-center">
                                    <h6 class="mb-0 mr-2">21. 如何保障我的个人资料不被滥用？谁又会保障我的利益？ </h6>
                                    <img src="assets/img/icons/interface/icon-caret-right.svg" alt="Caret Right"
                                        class="icon icon-sm" data-inject-svg>
                                </div>
                            </a>
                            <div class="collapse" id="accordion-21" data-parent="#faq-accordion">
                                <div class="px-3 px-md-4 pb-3 pb-md-4" style="text-align: justify;">
                                    亚洲产拍严格执行马来西亚个人资料保护法。亚洲产拍是由马来西亚领先拍卖公司， MNP 拍卖行所创立，拥有 15 的强大专业背景。MNP 也是唯一拥有 ISO 9001:2015 国际 标准认证的大马拍卖公司，获得无数的专业认证。
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
        {{> user-form}}

    <div id="myModal-zh" class="modal-img">
        <span class="close-img-zh">&times;</span>
        <img class="modal-img-content" id="img01-zh">
        <div id="caption-img"></div>
    </div>
    {{!-- {{> footer}} --}}
    <a href="#top" class="btn btn-primary rounded-circle btn-back-to-top" data-smooth-scroll data-aos="fade-up"
        data-aos-offset="2000" data-aos-mirror="true" data-aos-once="false">
        <img src="assets/img/icons/interface/icon-arrow-up.svg" alt="Icon" class="icon bg-white" data-inject-svg>
    </a>
    <!-- Required vendor scripts (Do not remove) -->
    <script type="text/javascript" src="assets/js/jquery.min.js"></script>
    <script type="text/javascript" src="assets/js/popper.min.js"></script>
    <script type="text/javascript" src="assets/js/bootstrap.js"></script>

    <!-- Optional Vendor Scripts (Remove the plugin script here and comment initializer script out of index.js if site does not use that feature) -->

    <!-- AOS (Animate On Scroll - animates elements into view while scrolling down) -->
    <script type="text/javascript" src="assets/js/aos.js"></script>
    <!-- Clipboard (copies content from browser into OS clipboard) -->
    <script type="text/javascript" src="assets/js/clipboard.min.js"></script>
    <!-- Fancybox (handles image and video lightbox and galleries) -->
    <script type="text/javascript" src="assets/js/jquery.fancybox.min.js"></script>
    <!-- Flatpickr (calendar/date/time picker UI) -->
    <script type="text/javascript" src="assets/js/flatpickr.min.js"></script>
    <!-- Flickity (handles touch enabled carousels and sliders) -->
    <script type="text/javascript" src="assets/js/flickity.pkgd.min.js"></script>
    <!-- Ion rangeSlider (flexible and pretty range slider elements) -->
    <script type="text/javascript" src="assets/js/ion.rangeSlider.min.js"></script>
    <!-- Isotope (masonry layouts and filtering) -->
    <script type="text/javascript" src="assets/js/isotope.pkgd.min.js"></script>
    <!-- jarallax (parallax effect and video backgrounds) -->
    <script type="text/javascript" src="assets/js/jarallax.min.js"></script>
    <script type="text/javascript" src="assets/js/jarallax-video.min.js"></script>
    <script type="text/javascript" src="assets/js/jarallax-element.min.js"></script>
    <!-- jQuery Countdown (displays countdown text to a specified date) -->
    <script type="text/javascript" src="assets/js/jquery.countdown.min.js"></script>
    <!-- jQuery smartWizard facilitates steppable wizard content -->
    <script type="text/javascript" src="assets/js/jquery.smartWizard.min.js"></script>
    <!-- Plyr (unified player for Video, Audio, Vimeo and Youtube) -->
    <script type="text/javascript" src="assets/js/plyr.polyfilled.min.js"></script>
    <!-- Prism (displays formatted code boxes) -->
    <script type="text/javascript" src="assets/js/prism.js"></script>
    <!-- ScrollMonitor (manages events for elements scrolling in and out of view) -->
    <script type="text/javascript" src="assets/js/scrollMonitor.js"></script>
    <!-- Smooth scroll (animation to links in-page)-->
    <script type="text/javascript" src="assets/js/smooth-scroll.polyfills.min.js"></script>
    <!-- SVGInjector (replaces img tags with SVG code to allow easy inclusion of SVGs with the benefit of inheriting colors and styles)-->
    <script type="text/javascript" src="assets/js/svg-injector.umd.production.js"></script>
    <!-- TwitterFetcher (displays a feed of tweets from a specified account)-->
    <script type="text/javascript" src="assets/js/twitterFetcher_min.js"></script>
    <!-- Typed text (animated typing effect)-->
    <script type="text/javascript" src="assets/js/typed.min.js"></script>
    <!-- Required theme scripts (Do not remove) -->
    <script type="text/javascript" src="assets/js/theme.js"></script>
    <!-- Removes page load animation when window is finished loading -->
    <script type="text/javascript">
        window.addEventListener("load", function () {
            document.querySelector('body').classList.add('loaded');
        });
         var modalzh = document.getElementById("myModal-zh");

        // Get the image and insert it inside the modal - use its "alt" text as a caption
        var imgzh = document.getElementById("myImg-zh");
        var modalImgzh = document.getElementById("img01-zh");
        var captionTextzh = document.getElementById("caption-img");
        imgzh.onclick = function () {
            modalzh.style.display = "block";
            modalImgzh.src = 'images/how_does_it_work_zh.png';
            //captionText.innerHTML = this.alt;
        }

        // Get the <span> element that closes the modal
        var spanzh = document.getElementsByClassName("close-img-zh")[0];

        // When the user clicks on <span> (x), close the modal
        spanzh.onclick = function () {
            modalzh.style.display = "none";
        }
        var language = 'eng'
        if (window.location.href.indexOf('home-zh') > 0) {
            console.log("zh");
            language = 'zh'
            $(".zh").show();
            $(".eng").hide();
        } else if (window.location.href.indexOf('about-us-zh') > 0) {
            console.log("about zh");
            language = 'zh'
            $(".zh").show();
            $(".eng").hide();
        } else if (window.location.href.indexOf('faq-zh') > 0) {
            console.log("faq zh");
            language = 'zh'
            $(".zh").show();
            $(".eng").hide();
        } else {
            console.log("eng");
            $(".zh").hide();
            $(".eng").show();
        }

        function propertyToSaleClick() {
            let userInfoForm = $("#userInfoForm")[0];
            let userInfo = {
                name: $("#inputName").val(),
                mobile: $("#phoneCountryCode").val() + $("#inputMobile").val(),
                email: $("#inputEmail").val(),
            }
            console.log(userInfo);
            if (userInfoForm.checkValidity() === false) {
                userInfoForm.classList.add('was-validated');
            } else {
                $.ajax({
                    type: 'POST',
                    url: '/addUser/sale',
                    data: userInfo,
                    cache: false,
                    success: function (result) {
                        if (language == "eng") {
                            window.location.href = "propertyForSale/" + result.userID + "/" + result
                                .requestID;

                        } else {
                            window.location.href = "propertyForSale-zh/" + result.userID + "/" + result
                                .requestID;

                        }
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        if (jqXHR.status == 500) {
                        } else {
                            console.log('Unexpected error.');
                        }
                    }
                });
            }
        }

        function propertyToRentClick(e) {
            let userInfoForm = $("#userInfoForm")[0];
            let userData = {
                name: $("#inputName").val(),
                mobile: $("#phoneCountryCode").val() + $("#inputMobile").val(),
                email: $("#inputEmail").val(),
            }
            console.log(userData);

            if (userInfoForm.checkValidity() === false) {
                userInfoForm.classList.add('was-validated');
            } else {
                $.ajax({
                    type: 'POST',
                    url: '/addUser/rent',
                    data: userData,
                    cache: false,
                    success: function (result) {
                        console.log(result);
                        if (language == "eng") {
                            window.location.href = "propertyForRent/" + result.userID + "/" + result
                                .requestID;

                        } else {
                            window.location.href = "propertyForRent-zh/" + result.userID + "/" + result
                                .requestID;

                        }
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        if (jqXHR.status == 500) {
                        } else {
                            console.log('Unexpected error.');
                        }
                    }
                });
                e.preventDefault()
            }
        }
    </script>

</body>

</html>