<p><span style="font-weight: 400;">Hi </span><span style="font-weight: 400;">{{name}}</span><span style="font-weight: 400;">!</span></p>
<p><span style="font-weight: 400;">&nbsp;</span></p>
<p><span style="font-weight: 400;">Thank you for trusting </span><a href="http://realbid.asia/"><span style="font-weight: 400;">realbid.asia</span></a><span style="font-weight: 400;"> to CASHOUT your valuable property. You have completed the full submission!</span></p>
<p><span style="font-weight: 400;">&nbsp;</span></p>
<p><span style="font-weight: 400;">Your submission number is </span><span style="font-weight: 400;">{{id}}. Our customer service officer will be contacting you within 24 hours to process your case.</span></p>
<p><span style="font-weight: 400;">&nbsp;</span></p>
<p><span style="font-weight: 400;">Please do not hesitate to reply this email if you need further assistance.</span></p>
<p><span style="font-weight: 400;">&nbsp;</span></p>
<p><span style="font-weight: 400;">Thanks</span></p>
<p><a href="http://readbid.asia/"><span style="font-weight: 400;">readbid.asia</span></a><span style="font-weight: 400;"> Team</span></p>