<section class="bg-white fixed-padding-top full-height" style="padding-top: 100px;">
    <div class="container">
        <div class="row section-title justify-content-center text-center">
            <div class="col-md-9 col-lg-8 col-xl-7">
                <h3 class="display-4" id="marketTip">Covid19</h3>
                <div class="lead">Covid19 has deepened the already-deepening property market. How
                    harmful can it be, for property owners?
                </div>
            </div>
        </div>
        <div class="row">
            {{!-- <div class="col-lg-6 mb-3 mb-lg-5">
                    <div class="row align-items-center">
                        <div class="col-sm-4 mb-3 mb-sm-0">
                            <img src="images/access_supply.jpg" alt="Image" class="img-fluid rounded">
                        </div>
                        <div class="col">
                            <h4>Access supply</h4>
                            <p>The market has never run short of choices
                            </p>
                        </div>
                    </div>
                </div> --}}
            <div class="col-lg-4 mb-3 mb-lg-5">
                <div class="row align-items-center" style="padding-top: 5px; padding-bottom: 5px;">
                    <div class="col-6">
                        <img src="images/access_supply.jpg" alt="Image" class="img-fluid rounded">
                    </div>
                    <div class="col-6">
                        <h4>Access supply</h4>
                        <p>The market has never run short of choices
                        </p>
                        {{!-- <a href="#">Learn More</a> --}}
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-3 mb-lg-5">
                <div class="row align-items-center" style="padding-top: 5px; padding-bottom: 5px;">
                    <div class="col-6">
                        <img src="images/new_housing.jpg" alt="Image" class="img-fluid rounded">
                    </div>
                    <div class="col-6">
                        <h4>Government policies favouring new housing</h4>
                        <p>Cruel competition</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-3 mb-lg-5">
                <div class="row align-items-center" style="padding-top: 5px; padding-bottom: 5px;">
                    <div class="col-6">
                        <img src="images/property_insight.jpg" alt="Image" class="img-fluid rounded">
                    </div>
                    <div class="col-6">
                        {{!-- <h4>Property info and insight easy access</h4> --}}
                        <h4>Easy Access of Property Info and Insight</h4>
                        <p>DIY specialist</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-3 mb-lg-5">
                <div class="row align-items-center" style="padding-top: 5px; padding-bottom: 5px;">
                    <div class="col-6">
                        <img src="images/mobile_device.jpg" alt="Image" class="img-fluid rounded">
                    </div>
                    <div class="col-6">
                        <h4>Mobile device beats all odd</h4>
                        <p>Online dictates everything
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-3 mb-lg-5">
                <div class="row align-items-center" style="padding-top: 5px; padding-bottom: 5px;">
                    <div class="col-6">
                        <img src="images/virtual_office.jpg" alt="Image" class="img-fluid rounded">
                    </div>
                    <div class="col-6">
                        <h4>Online business, virtual office </h4>
                        <p>Less property demand
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center text-center">
            <p><a href="/problem-owner-facing" class="btn btn-secondary" style="color: black; cursor: pointer; font-size: 1.2rem;"
                    id="whatNext"><span>What's
                        Next?</span></a>
            </p>
        </div>
    </div>
</section>