<section class="bg-primary-3 fixed-padding-top full-height" style="padding-top: 100px;">
    <div class="container">

        <div class="row section-title justify-content-center text-center" style="margin-bottom:auto;">
            <div class="col-md-9 col-lg-8 col-xl-7">
                <h4 class="display-4" style="color: white;" id="situation">At this time, many
                    property owners are
                    facing the
                    following
                    problems: </h4>
                {{!-- <div class="lead">At this time, many property owners are facing the following
                        situations:</div> --}}
            </div>
        </div>
        {{!-- <div class="row justify-content-center">
                <div class="col-md-6 col-lg-3 mb-3 mb-md-4 mb-lg-0" style="padding-bottom: 5px;">
                    <div class="card h-100 hover-box-shadow">
                        <div class="d-block bg-gradient rounded-top position-relative">
                            <img class="card-img-top hover-fade-out" src="images/rent_out1.jpg"
                                alt="Image accompanying Circle testimonial">
                        </div>
                        <div class="card-body" style="padding: 1rem;">
                            <h5>Cannot rent out, cannot sell</h5>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 mb-3 mb-md-4 mb-lg-0" style="padding-bottom: 5px;">
                    <div class="card h-100 hover-box-shadow">
                        <div class="d-block bg-gradient rounded-top position-relative">
                            <img class="card-img-top hover-fade-out" src="assets/img/case-studies/thumb-9.jpg"
                                alt="Image accompanying Kanba testimonial">
                        </div>
                        <div class="card-body" style="padding: 1rem;">
                            <h5>Price can be lowered, but can it sell? Can it rent?</h5>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 mb-3 mb-md-4 mb-lg-0" style="padding-bottom: 5px;">
                    <div class="card h-100 hover-box-shadow">
                        <div class="d-block bg-gradient rounded-top position-relative">
                            <img class="card-img-top hover-fade-out" src="assets/img/case-studies/thumb-5.jpg"
                                alt="Image accompanying Treva testimonial">
                        </div>
                        <div class="card-body" style="padding: 1rem;">
                            <h5>The longer the unit is vacant, the riskier the maintenance
                                problem</h5>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 mb-3 mb-md-4 mb-lg-0" style="padding-bottom: 5px;">
                    <div class="card h-100 hover-box-shadow">
                        <div class="d-block bg-gradient rounded-top position-relative">
                            <img class="card-img-top hover-fade-out" src="assets/img/case-studies/thumb-5.jpg"
                                alt="Image accompanying Treva testimonial">
                        </div>
                        <div class="card-body" style="padding: 1rem;">
                            <h5>No ROI but maintenance cost remain
                            </h5>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 mb-3 mb-md-4 mb-lg-0" style="padding-bottom: 5px;">
                    <div class="card h-100 hover-box-shadow">
                        <div class="d-block bg-gradient rounded-top position-relative">
                            <img class="card-img-top hover-fade-out" src="assets/img/case-studies/thumb-5.jpg"
                                alt="Image accompanying Treva testimonial">
                        </div>
                        <div class="card-body" style="padding: 1rem;">
                            <h5>Similar property is plenty, only the best stay
                            </h5>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 mb-3 mb-md-4 mb-lg-0" style="padding-bottom: 5px;">
                    <div class="card h-100 hover-box-shadow">
                        <div class="d-block bg-gradient rounded-top position-relative">
                            <img class="card-img-top hover-fade-out" src="assets/img/case-studies/thumb-5.jpg"
                                alt="Image accompanying Treva testimonial">
                        </div>
                        <div class="card-body" style="padding: 1rem;">
                            <h5>Keep dragging time hopping to gain higher, but end up with
                                higher holding cost and opportunity cost
                            </h5>
                        </div>
                    </div>
                </div>
            </div> --}}
            <div class="row" data-isotope-collection>
            <div class="col-sm-6 col-lg-4 mb-3 mb-md-4" data-isotope-item>
                <div class="card card-body"
                    style="padding-top: 10px; padding-left: 10px; padding-right: 10px; padding-bottom: 0px;">
                    <p>
                        <strong ><h5 class="mb-0 ml-3">Cannot rent out, cannot sell too 😱</h5>
                        </strong>
                    </p>
                    {{!-- <p>
                            Don’t forget the opportunity cost that you are
                            overlooking for keep holding the property
                        </p> --}}
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 mb-3 mb-md-4" data-isotope-item>
                <div class="card card-body"
                    style="padding-top: 10px; padding-left: 10px; padding-right: 10px; padding-bottom: 0px;">
                    <p>
                        <strong >
                            <h5 class="mb-0 ml-3">Price can be lowered, but is it sellable? Is it rentable? 😨</h5>
                            </strong>
                    </p>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 mb-3 mb-md-4" data-isotope-item>
                <div class="card card-body"
                    style="padding-top: 10px; padding-left: 10px; padding-right: 10px; padding-bottom: 0px;">
                    <p>
                        <strong ><h5 class="mb-0 ml-3">The longer the unit is vacant, the riskier the maintenance
                                    problem 😓</h5>
                        </strong>
                    </p>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 mb-3 mb-md-4" data-isotope-item>
                <div class="card card-body"
                    style="padding-top: 10px; padding-left: 10px; padding-right: 10px; padding-bottom: 0px;">
                    <p>
                        <strong >
                            <h5 class="mb-0 ml-3">No ROI but maintenance cost remain 😭</h5>
                        </strong>
                    </p>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 mb-3 mb-md-4" data-isotope-item>
                <div class="card card-body"
                    style="padding-top: 10px; padding-left: 10px; padding-right: 10px; padding-bottom: 0px;">
                    <p>
                        <strong >
                            <h5 class="mb-0 ml-3">Similar property is plenty, only the best stay 😥
                                </h5>
                        </strong>
                    </p>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 mb-3 mb-md-4" data-isotope-item>
                <div class="card card-body"
                    style="padding-top: 10px; padding-left: 10px; padding-right: 10px; padding-bottom: 0px;">
                    <p>
                        <strong >
                            <h5 class="mb-0 ml-3">Keep dragging time hopping to gain higher, but end up with
                                    higher holding cost and opportunity cost 😖</h5>
                        </strong>
                    </p>
                </div>
            </div>
        </div>
        <!--
        <div class="row align-items-center justify-content-center" style="padding-bottom: 25px;">
            <div class="col-sm-9 col-md-7 col-lg-4 mb-3 mb-md-4 mb-lg-0" data-aos="fade-up" data-aos-delay="100"
                style="padding-bottom: 5px;">
                <div class="card card-body align-items-center shadow" style="padding: 1rem;">

                    <div class="text-center">
                        {{!-- <img src="images/rent_out.jpg" alt="Image" class="img-fluid rounded"> --}}
                        {{!-- <img class="img-fluid rounded" src="images/rent_out1.jpg" alt="Image"> --}}
                    </div>
                    <ul class="list-unstyled p-0" style="margin: 0;">
                        <li>
                            <div class="d-flex align-items-center" style="padding-top: 10px;">
                                {{!-- <div class="rounded-circle bg-success-alt">
                      <img src="assets/img/icons/interface/icon-check.svg" alt=" icon=" class="m-2 icon icon-xs bg-success" data-inject-svg>
                    </div> --}}
                                <h5 class="mb-0 ml-3">Cannot rent out, cannot sell too</h5>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-9 col-md-7 col-lg-4 mb-3 mb-md-4 mb-lg-0" data-aos="fade-up" data-aos-delay="200"
                style="padding-bottom: 5px;">
                <div class="card card-body align-items-center shadow" style="padding: 1rem;">
                    <div class="text-center">
                        {{!-- <img class="img-fluid rounded" src="images/lower_price.jpg" alt="Image"> --}}
                    </div>
                    <ul class="list-unstyled p-0" style="margin: 0;">
                        <li>
                            <div class="d-flex align-items-center" style="padding-top: 10px;">
                                <h5 class="mb-0 ml-3">Price can be lowered, but is it sellable? Is it rentable?</h5>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-9 col-md-7 col-lg-4 mb-3 mb-md-4 mb-lg-0" data-aos="fade-up" data-aos-delay="300"
                style="padding-bottom: 5px;">
                <div class="card card-body align-items-center shadow" style="padding: 1rem;">
                    <div class="text-center">
                        {{!-- <img class="img-fluid rounded" src="images/maintenance_prob.jpg" alt="Image"> --}}
                    </div>
                    <ul class="list-unstyled p-0" style="margin: 0;">
                        <li>
                            <div class="d-flex align-items-center" style="padding-top: 10px;">
                                <h5 class="mb-0 ml-3">The longer the unit is vacant, the riskier the maintenance
                                    problem</h5>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-9 col-md-7 col-lg-4 mb-3 mb-md-4 mb-lg-0" data-aos="fade-up" data-aos-delay="400"
                style="padding-bottom: 5px;">
                <div class="card card-body align-items-center shadow" style="padding: 1rem;">
                    <div class="text-center">
                        {{!-- <img class="img-fluid rounded" src="images/maintenance_cost.jpg" alt="Image"> --}}
                    </div>
                    <ul class="list-unstyled p-0" style="margin: 0;">
                        <li>
                            <div class="d-flex align-items-center" style="padding-top: 10px;">
                                <h5 class="mb-0 ml-3">No ROI but maintenance cost remain</h5>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-9 col-md-7 col-lg-4 mb-3 mb-md-4 mb-lg-0" data-aos="fade-up" data-aos-delay="500"
                style="padding-bottom: 5px;">
                <div class="card card-body align-items-center shadow" style="padding: 1rem;">
                    <div class="text-center">
                        {{!-- <img class="img-fluid rounded" src="images/similar_property.jpg" alt="Image"> --}}
                    </div>
                    <ul class="list-unstyled p-0" style="margin: 0;">
                        <li>
                            <div class="d-flex align-items-center" style="padding-top: 10px;">
                                <h5 class="mb-0 ml-3">Similar property is plenty, only the best stay
                                </h5>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-9 col-md-7 col-lg-4 mb-3 mb-md-4 mb-lg-0" data-aos="fade-up" data-aos-delay="600"
                style="padding-bottom: 5px;">
                <div class="card card-body align-items-center shadow" style="padding: 1rem;">
                    <div class="text-center">
                        {{!-- <img class="img-fluid rounded" src="images/holding_cost.jpg" alt="Image"> --}}
                    </div>
                    <ul class="list-unstyled p-0" style="margin: 0;">
                        <li>
                            <div class="d-flex align-items-center" style="padding-top: 10px;">
                                <h5 class="mb-0 ml-3">Keep dragging time hopping to gain higher, but end up with
                                    higher holding cost and opportunity cost</h5>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        -->
        <div class="row justify-content-center text-center" style="margin-bottom: 0;" >
            <div class="col-md-9 col-lg-8 col-xl-7">
                <h5 style="font-size: 1.5rem; color: white;">The above problems and deepening situation
                    give rise to the absolute
                    solution – realbid.asia！
                </h5>
                {{!-- <div class="lead">At this time, many property owners are facing the following
                        situations:</div> --}}
            </div>
        </div>
        <div class="row justify-content-center text-center" 
            style="margin-bottom: 5px;">
            <a href="/why-us" class="btn btn-warning" id="keyHere" style="color: black;">The Key is HERE!</a>
        </div>
        <div class="row justify-content-center text-center" >
            <button class="btn btn-secondary about-us" style="color: black;">About
                realbid.asia</button>
        </div>
    </div>
</section>