
{{!-- <div class="full-height"> --}}
    <div data-overlay class="bg-primary-3 jarallax text-white full-height" data-jarallax data-speed="0.2">
    <img src="images/promo_cover.jpg" alt="Background" class="jarallax-img opacity-30">
    <section class="pb-0">
        
        <div class="container float-vc-en">
            <div class="row justify-content-center text-center">
                <div class="col-10">
                    {{!-- <a data-fancybox href="https://vimeo.com/166034462#t=32s"
                            class="btn btn-lg btn-light rounded-circle mb-4 mb-md-5" data-aos="zoom-in"
                            data-aos-delay="400">
                            <img src="assets/img/icons/interface/icon-media-play.svg" alt="Media Play Icon"
                                class="icon icon-lg bg-dark pl-1" data-inject-svg>
                        </a> --}}
                    {{!-- <h1 class="display-3" data-aos="fade-up" data-aos-delay="100">ALERT! You’re Not Benefited from
                            The Housing Policy!</h1> --}}
                    <img src="images/warning-logo.png" class="logo-width">

                    {{!-- <p class="lead" data-aos="fade-up" data-aos-delay="100">You’re Not Benefited from
                            The Housing Policy!</p> --}}
                    <p class="lead" data-aos="fade-up" data-aos-delay="100" style="font-size: 22px;">
                        Worried about your property investment? Experiencing vacant possession?
                        <br>The recent Covid 19 pandemic has no doubt affected the property industry and
                        <br>also the value of your property.
                        <br>The challenge ahead is REAL so how will you breakthrough? 
                    </p>
                    {{!-- <p class="lead" data-aos="fade-up" data-aos-delay="200">
                            How to Breakthrough The New Normal for Secondary Property
                            Market？
                        </p> --}}
                    {{!-- <p class="lead" data-aos="fade-up" data-aos-delay="200" style="font-size: 18px;">
                        The challenge ahead is REAL so how will you breakthrough? 
                    </p> --}}
                    {{!-- <p class="lead" data-aos="fade-up" data-aos-delay="300"
                            style="color: chartreuse; font-weight: 700;">
                            CASHOUT Your Property the REAL BID Way!
                            Be it Rent or Sale!
                        </p> --}}
                    {{!-- <h1 class="display-3" data-aos="fade-up" data-aos-delay="300" style="color: chartreuse;">CASHOUT
                            Your Property the REAL BID Way!
                            Be it Rent or Sale!</h1> --}}
                    {{!-- <br> --}}
                    <p class="display-5" data-aos="fade-up" data-aos-delay="300" style="color: chartreuse; font-size: 36px;">
                        Consider to CASH OUT Your Property the RealBid way!   
                        <br>You can RENT out Fast 
                        <br>or 
                        <br>SELL IT Quick
                    </p>

                    <p class="lead" data-aos="fade-up" data-aos-delay="300" style="font-size: 22px;">
                        Take charge of your property!
                        <br>Let <span style="font-weight: 700;">realbid.asia</span> be Your Self-Help
                    </p>
                    {{!-- <p class="lead" data-aos="fade-up" data-aos-delay="400">
                            Let <span style="font-weight: 700;">realbid.asia</span> be Your Self-Help! Move on with our
                            Online Bidding
                            Platform Processing now!
                        </p> --}}
                    {{!-- <p class="lead" data-aos="fade-up" data-aos-delay="300" style="font-size: 20px;">
                        Let <span style="font-weight: 700;">realbid.asia</span> be Your Self-Help
                    </p> --}}

                    {{!-- <p class="lead" data-aos="fade-up" data-aos-delay="500" style="margin-bottom: 60px;">
                            Make no mistake! Take charge of the Waiver of RPGT!
                        </p> --}}
                    {{!-- <p class="lead" data-aos="fade-up" data-aos-delay="400" >
                        Let’s CASHOUT through <span style="font-weight: 700;">realbid.asia</span> Now!
                    </p> --}}

                    {{!-- <p data-aos="fade-up" data-aos-delay="600"> --}}
                        {{!-- <br> --}}
                    <a href="/friendly-tip" class="fade-page btn btn-secondary"
                        style="color: black; cursor: pointer; font-size: 1rem; margin: 10px;"><span>Discover Now</span></a>
                    {{!-- </p> --}}
                    {{!-- <div class="d-flex flex-column flex-sm-row justify-content-center mt-4 mt-md-5"
                            data-aos="fade-up" data-aos-delay="300">
                            <a href="#" class="btn btn-primary btn-lg mx-sm-2 my-1 my-sm-0">View Demos</a>
                            <a href="#" class="btn btn-outline-light btn-lg mx-sm-2 my-1 my-sm-0">Purchase</a>
                        </div> --}}
                </div>
            </div>
        </div>
        {{!-- <div class="divider divider-bottom bg-white" style="background-color: transparent !important;"></div> --}}
    </section>
</div>
{{!-- </div> --}}
