<section class="bg-primary fixed-padding-top" style="padding-top: 80px;">
    {{!-- <img src="images/promo_cover.jpg" alt="Background" class="jarallax-img opacity-30"> --}}
    <div class="container">
        <div class="text-white">
            <div class="row section-title justify-content-center text-center">
                <div class="col-md-9 col-lg-8 col-xl-7">
                    <h3 class="display-4" id="whyUs">Why Us?</h3>
                    <div class="lead">We highly recommend <b> realbid.asia </b> as your property’s best
                        solution for the new normal! Why? </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-lg-4 mb-3 mb-md-4" style="padding-bottom: 10px;">
                <div class="card card-body" style="padding: 10px; box-shadow: 10px 10px 5px 0px rgba(75, 55, 55, 0.75)">
                    <p>
                        <strong style="color: black;">TIME is MONEY!</strong>
                    </p>
                    <p>
                        Creating urgency through time countdown to achieve
                        valued-for-money kind of bidding efficiency
                    </p>

                </div>
            </div>
            <div class="col-sm-6 col-lg-4 mb-3 mb-md-4" style="padding-bottom: 10px;"> 
                <div class="card card-body"
                    style="padding: 10px; box-shadow: 10px 10px 5px 0px rgba(75, 55, 55, 0.75); background-color: #ff9721;">
                    <p>
                        <strong style="color: white;">REDUCING Holding COST!</strong>
                    </p>
                    <p style="color:rgb(245, 245, 245);">
                        Don’t forget the opportunity cost that you are
                        overlooking for keep holding the property
                    </p>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 mb-3 mb-md-4" style="padding-bottom: 10px;">
                <div class="card card-body"
                    style="padding: 10px; box-shadow: 10px 10px 5px 0px rgba(75, 55, 55, 0.75); background-color: #4dcd2f;">
                    <p>
                        <strong  style="color: white;">OPEN, Transparent & Touch Ground!</strong>
                    </p>
                    <p style="color: rgb(245, 245, 245);">
                        Stop waiting hopelessly and stop being factored
                        unnecessarily but connecting truly the entire market
                        toward spotting your property
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-lg-4 mb-3 mb-md-4" style="padding-bottom: 10px;">
                <div class="card card-body"
                    style="padding: 10px; box-shadow: 10px 10px 5px 0px rgba(75, 55, 55, 0.75)">
                    <p>
                        <strong style="color: black;">REAL Timetable & Closing Point!</strong>
                    </p>
                    <p>
                        Instead of all kind of uncertainty, <b> realbid.asia </b> provides real
                        timetable for the entire process.
                    </p>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 mb-3 mb-md-4" style="padding-bottom: 10px;">
                <div class="card card-body"
                    style="padding: 10px; box-shadow: 10px 10px 5px 0px rgba(75, 55, 55, 0.75); background-color: #ff9721;">
                    <p>
                        <strong style="color: white;">The World is toward ONLINE, We are DUAL!
                        </strong>
                    </p>
                    <p style="color: rgb(245, 245, 245);">
                        <b> realbid.asia </b> focuses and make full use of the online
                        presence, while not forgetting traditional approach

                    </p>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 mb-3 mb-md-4" style="padding-bottom: 10px;">
                <div class="card card-body"
                    style="padding: 10px; box-shadow: 10px 10px 5px 0px rgba(75, 55, 55, 0.75); background-color: #4dcd2f;">
                    <p>
                        <strong style="color: white;">QUALIFIED Bidder! No Time Wastage
                        </strong>
                    </p>
                    <p style="color: rgb(245, 245, 245);">
                        Real bid filters qualified Bidder toward entering approved property online bidding coverage,
                        to be guided by the timed auction process.

                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-lg-4 mb-3 mb-md-4" style="padding-bottom: 10px;">
                <div class="card card-body"
                    style="padding: 10px; box-shadow: 10px 10px 5px 0px rgba(75, 55, 55, 0.75)">
                    <p>
                        <strong style="color: black;">Brings REAL MARKET DEMAND, Not Any Single
                            Preference</strong>
                    </p>
                    <p>
                        The actual property market dictates your property and
                        not by any personal preference nor human factor.
                        Marketable starting price is the key too
                    </p>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 mb-3 mb-md-4" style="padding-bottom: 10px;">
                <div class="card card-body"
                    style="padding: 10px; box-shadow: 10px 10px 5px 0px rgba(75, 55, 55, 0.75); background-color: #ff9721;">
                    <p>
                        <strong style="color: white;">And the best part is, <b> realbid.asia </b> is absolutely
                            AFFORDABLE!
                        </strong>
                    </p>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 mb-3 mb-md-4" style="padding-bottom: 10px;">

            </div>
        </div>
        {{!-- <div class="row" data-isotope-collection>
            <div class="col-sm-6 col-lg-4 mb-3 mb-md-4"  data-isotope-item style="padding-right: 0px; padding-bottom: 0px; box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75)">
                <div class="card card-body"
                    style="padding-top: 10px; padding-left: 10px; padding-right: 10px; padding-bottom: 0px;">
                    <p>
                        <strong style="color: #ff8c00;">And the best part is, <b> realbid.asia </b> is absolutely AFFORDABLE!
                        </strong>
                    </p>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 mb-3 mb-md-4"  data-isotope-item style="padding-right: 0px; padding-bottom: 0px; box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75)">
                <div class="card card-body"
                    style="padding-top: 10px; padding-left: 10px; padding-right: 10px; padding-bottom: 0px;">
                    <p>
                        <strong style="color: #32cd32;">Brings REAL MARKET DEMAND, Not Any Single
                            Preference</strong>
                    </p>
                    <p>
                        The actual property market dictates your property and
                        not by any personal preference nor human factor.
                        Marketable starting price is the key too
                    </p>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 mb-3 mb-md-4"  data-isotope-item style="padding-right: 0px; padding-bottom: 0px; box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75)">
                <div class="card card-body"
                    style="padding-top: 10px; padding-left: 10px; padding-right: 10px; padding-bottom: 0px;">
                    <p>
                        <strong style="color: #ff8c00;">QUALIFIED Bidder! No Time Wastage
                        </strong>
                    </p>
                    <p>
                        Real bid filters qualified Bidder toward entering approved property online bidding coverage,
                        to be guided by the timed auction process.

                    </p>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 mb-3 mb-md-4"  data-isotope-item style="padding-right: 0px; padding-bottom: 0px; box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75)">
                <div class="card card-body"
                    style="padding-top: 10px; padding-left: 10px; padding-right: 10px; padding-bottom: 0px;">
                    <p>
                        <strong style="color: #ff8c00;">REAL Timetable & Closing Point!</strong>
                    </p>
                    <p>
                        Instead of all kind of uncertainty, <b> realbid.asia </b> provides real
                        timetable for the entire process.
                    </p>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 mb-3 mb-md-4"  data-isotope-item style="padding-right: 0px; padding-bottom: 0px; box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75)">
                <div class="card card-body"
                    style="padding-top: 10px; padding-left: 10px; padding-right: 10px; padding-bottom: 0px;">
                    <p>
                        <strong style="color: #ff8c00;">The World is toward ONLINE, We are DUAL!
                        </strong>
                    </p>
                    <p>
                        <b> realbid.asia </b> focuses and make full use of the online
                        presence, while not forgetting traditional approach

                    </p>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 mb-3 mb-md-4"  data-isotope-item style="padding-right: 0px; padding-bottom: 0px; box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75)">
                <div class="card card-body"
                    style="padding-top: 10px; padding-left: 10px; padding-right: 10px; padding-bottom: 0px;">
                    <p>
                        <strong style="color: #32cd32;">OPEN, Transparent & Touch Ground!</strong>
                    </p>
                    <p>
                        Stop waiting hopelessly and stop being factored
                        unnecessarily but connecting truly the entire market
                        toward spotting your property
                    </p>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 mb-3 mb-md-4"  data-isotope-item style="padding-right: 0px; padding-bottom: 0px; box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75)">
                <div class="card card-body"
                    style="padding-top: 10px; padding-left: 10px; padding-right: 10px; padding-bottom: 0px;">
                    <p>
                        <strong style="color: #32cd32;">REDUCING Holding COST!</strong>
                    </p>
                    <p>
                        Don’t forget the opportunity cost that you are
                        overlooking for keep holding the property
                    </p>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 mb-3 mb-md-4"  data-isotope-item style="padding-right: 0px; padding-bottom: 0px; box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75)" >
                <div class="card card-body"
                    style="padding-top: 10px; padding-left: 10px; padding-right: 10px; padding-bottom: 0px;">
                    <p>
                        <strong style="color: #32cd32;">TIME is MONEY!</strong>
                    </p>
                    <p>
                        Creating urgency through time countdown to achieve
                        valued-for-money kind of bidding efficiency
                    </p>
                </div>
            </div>
        </div> --}}
        <div class="row section-title justify-content-center text-center text-white" style="margin-bottom: 10px;">
            <div class="col-md-9 col-lg-8 col-xl-7">
                <div class="lead">With <b> realbid.asia </b>, your destiny is on your hand!</div>
            </div>
        </div>
        <div class="row section-title justify-content-center text-center text-white" style="margin-bottom: 10px;">
            <div class="col-md-9 col-lg-8 col-xl-7">
                <div class="lead">Ready to CASHOUT your property? <a data-target="#user_form" data-toggle="modal"
                        class="btn btn-warning" style="color: black;">Yes! Continue!</a>
                </div>
            </div>
        </div>
        <div class="row section-title justify-content-center text-center">
            <div class="col-md-9 col-lg-8 col-xl-7">
                <button class="btn btn-secondary about-us" style="color: black;">About
                    <b> realbid.asia </b></button>
            </div>
        </div>
    </div>
</section>